[2015-01-17 17:49] ghwc2015 opened #1 "software Voraussetzungen"
Hallo Bernd,

ich bin gerade dabei die Uhr nachzubauen.
Leider bekomme ich die Software noch nicht ans Laufen.

Die Abhängigkeiten scheinen über das hinauszugehen was auf der Anleitungsseite beschrieben ist.
die PIL habe ich noch installiert bekommen, aber jetzt verlangt das Programm "scipy" - und das scheint sehr aufwändig zu installieren zu sein.

Hast du evtl. noch eine genauere Anleitung bzw.

[2015-01-17 20:56] bk1285 commented on #1
Hi Thimo,

cool. Du bist der erste, der sich daran macht, die wordclock basierend auf der vorgegebenen Anleitung zu realisieren...

Daher: Danke für' feedback ;)

Die Kommandos werde ich zur Anleitung hinzufügen: Die sollten's tun

sudo pip install scipy
sudo pip install pil

Grüße,
Bernd

[2015-01-17 20:56] #1 closed

[2015-01-18 13:10] ghwc2015 commented on #1
Hi Bernd,

mit den unten angegebenen pip install Modulen hat es leider immer noch
nicht funktioniert.
Ich habe dann per apt-get python-scipy installiert und PIL durch pillow
ersetzt.
Danach ist das wordclock.py gelaufen.

auf der Seite "how to install" im Abschnitt "the wordclock software"
fehlt ein "h" in der URL

git clone https://git*h*ub.com/bk1285/rpi_wordclock.git

Die Ansteuerung per Levels

[2015-01-18 17:57] bk1285 commented on #1
Hi Thimo,

cool. Danke für's feedback.

Bernd

[2015-01-18 19:31] ghwc2015 commented on #1
nächstes Feedback.

nach dem heutigen git pull ist das Hauptprogramm nicht mehr gelaufen -
der Index des Plugin-Zählers scheint ein Problem zu haben (rot markiert)
- leider hab ich mit Python noch fast nichts gemacht.

Hab nur mal eine Ausgabe direkt vor der betroffenen Zeile
eingetragen(hier grün markiert)

Ich weiß nicht ob das hilft.
Manuell habe ich die Version vom 10.1. nochmal geladen - dami

[2015-01-18 23:47] bk1285 commented on #1
Hi Timo,

you catched the corner case... ;)

Habe mir das gerade nochmal angesehen. Sollte mit dem neusten Update behoben sein.

Grüße,
Bernd

[2015-02-09 16:22] ghwc2015 opened #2 "Sprachvariante Schwäbisch/Ossi"
Hallo Bernd,

ich habe die Erweiterung um die schwäbische "viertel nach" und "viertel vor" Variante erstellt.
Kannst du das in den Code mit einbauen?

Beispiel
 es ist ein uhr
 es ist fünf nach eins
 es ist zehn nach eins
 es ist viertel zwei
 es ist zehn vor halb zwei
 es ist fünf vor halb zwei
 es ist halb zwei
 es ist fünf nach halb zwei
 es ist zehn nach halb zwei
 es ist dreiviertel zwei
 es

[2015-02-09 16:43] ghwc2015 opened #3 "Schaltungsvariante "spiegelverkehrt""
Hallo Bernd,

beim Zusammenlöten meiner Matrix habe ich nicht darauf geachtet, dass deine Bilder unter Concepts und wiring layout von hinten abgebildet waren.
Meine Variante benötigt daher eine spiegelverkehrte wiring.py

Habe diese erstellt und würde mich freuen wenn du die in den Code einbauen kannst - dann kann ich mit git zukünftige Änderungen mitbekommen.

[code]

[2015-02-09 20:01] ghwc2015 opened #4 "wiring concept Grafik"
Hi Bernd,

beim Zusammenbau bin ich mit der Grafik "wiring concept" nicht so ganz klargekommen.
Nummerierung der x- und y-Achse scheint mir nicht zu passen.

Ich habe für mein wiring Schema deine Grafik angepasst - vielleicht magst du das mit in die Doku aufnehmen.
Ich habe unten noch das Schema für setColorBy1DCoordinates eingefügt - diese Nummerierung ist hilfreich für die unterschiedlichen Fron

[2015-02-17 19:39] bk1285 commented on #4
Hi Timo,
thanks for reporting. That's actually a bug in the manual... ;/
Regards,
Bernd

[2015-02-17 19:44] bk1285 commented on #3
Hi Timo,
if I got it right, is this issue related to https://github.com/bk1285/rpi_wordclock/issues/4
Therefore, I'll close this one, adding your wiring layout.
For future contributions I obviously prefer pull requests instead of sourcecode via issues... ;)
Regards,
Bernd

[2015-02-17 19:44] #3 closed

[2015-02-18 08:02] #2 closed

[2015-02-22 23:21] bk1285 commented on #4
Hi Timo,
danke fürs feedback. Habe ein skript hinzugefügt, welches es ermöglicht die wiring-layouts automatisch (und hoffentlich jetzt bug-frei) zu generieren... ;)
Bernd

[2015-02-22 23:21] #4 closed

[2015-04-19 07:37] Lexjans opened #9 "Can't find fontdemo.py"
Hello I get a error by this command:
git clone https://gist.github.com/5488053.git
---------------------------------------------------------
pi@raspberrypi ~ $ git clone https://git.github.com/5488053.git
Cloning into '5488053'...
fatal: https://git.github.com/5488053.git/info/refs not found: did you run git update-server-info on the server?
--------------------------------------------------------

[2015-04-19 11:05] bk1285 commented on #9
Hi Lexjans,

I cannot reproduce the issue. However, this post https://help.github.com/articles/https-cloning-errors/ indicates, that it might be related to your git-version?

I'm using version 1.8.3.2.

Best,
Bernd

[2015-04-19 11:19] Lexjans commented on #9
Hi Bernd,

Thank for answer my question.
I try it  again and now it works?????

I now have the software complete installed and can buy the LED's for the next step😀

Lex Janssen

[2015-04-19 11:46] bk1285 commented on #9
:+1:

[2015-04-19 11:46] #9 closed

[2015-10-11 08:47] rene100575 opened #10 "Frage Verkabelung"
Hallo,

ich will mal versuchen dein Super Projekt nachzubauen und habe 2 Fragen zur Verkabelung.
1) An welchem Pin hast du die Datenleitung der LEDs angeschlossen.
2) Wo schliesst man die Schalter an?

Vielen Dank und Viele Grüße
Rene

[2015-10-11 14:12] rene100575 commented on #10
Hallo,
so hab etwas rumprobiert - auf  GPIO 18 (GPIO_GEN1) bekomme ich die LEDs angesprochen. Bekomme aber immer die Melding "Pin 17 pressed" obwohl nix weiter angeschlossen ist...? Evtl. kann mir da jemand etwas auf die Sprünge helfen....

vg Rene

[2015-10-11 19:30] bk1285 commented on #10
Hi Rene,

bzgl. der Tasten: Die Pins muessen dem config-file entsprechen:
https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_config/wordclock_config.example.cfg#L23

Bspw;
pin_button_left     = 17
pin_button_return   = 22
pin_button_right    = 24

Bzgl. "Pin 17 pressed": Das sollte sich aendern, wenn die Tasten angeschlossen sind.

Werde die Doku diesbezueglich nochmal updaten.

Hoffe d

[2015-10-11 19:30] #10 closed

[2015-10-18 19:30] tooliload opened #11 "WS2812B mit WS2811 Controller"
Hallo,
ich versuche seit einigen Tagen den WS2812B mit WS2811 Controller an einem Raspberry Pi 2 B laufen zu bekommen. Aktuell klappt es nicht. In Foren lese ich immer wieder das der WS2811 mit einem Pi nicht ansteuerbar ist. Ich habe die Installation gemäß deinem Howto vorgenommen, Fehler gab es keine. Ich habe verschiedene Raspian-Versionen probiert. Die Pythonscripte laufen und geben die Meldun

[2015-10-18 21:17] stefancarlton commented on #11
Apologies for the English Reply...

I built this project using a Raspberry 2 and it worked successfully for me. I used an alternative libary, https://github.com/richardghirst/rpi_ws281x library which was built for Pi2. There is also the example script https://github.com/richardghirst/rpi_ws281x/blob/master/python/examples/strandtest.py to use.

I could not get the inverter to work though so wired

[2015-10-19 12:52] kpankrath opened #12 "Raspberry 2 support"
Hi,
I started building the wordclock as described in the documentation and used a Raspberry Pi 2.
It did not work. There was no error message, when running the wordclock.py or sandtest.py

After some research, I found out, that the ws281x package is not supporting Raspberry Pi 2 yet.
As I did the installation again on a raspberry pi 1, everything worked fine.

I would like to propose, that you hig

[2015-10-19 20:55] stefancarlton commented on #12
The problem is not with this software, but rather the library it uses to communicate to the LED strip - if you use https://github.com/richardghirst/rpi_ws281x it works fine on the Raspberry Pi 2 (I built this using a Pi2 and this library).

[2015-10-24 13:55] bk1285 commented on #12
@stefancarlton thanks for the feedback. Good to know, that it works with RPi2 as well.
@kpankrath please reopen this issue, if you still experience problems.

I furthermore added the point to the trouble-shooting section. I the origin library will not be updated soon, it might be a good thing, to move over to https://github.com/richardghirst/rpi_ws281x in general.

Regards,
Bernd

[2015-10-24 13:55] #12 closed

[2015-10-24 13:59] bk1285 commented on #11
Hi @tooliload die alternativ-library nicht hilft, bitte melden... ;)
@stefancarlton thanks for the feedback! :)

[2015-10-24 13:59] #11 closed

[2015-10-27 10:21] rene100575 opened #13 "Ideen / Fragen"
Hallo,

ich habe 2 Fragen:

1) Was habt ihr für einen Kleber für die LED Strips genommen - di sind ja so glatt das Heisskleber null hält :-(

2) Ich wollte das Projekt noch um 2 Funktionen erweitern:
 a) Temperatursensor/Luftfeuchtigkeitssensor und Anzeige der Werte.
 b) Abschalten der LEDs je nach Zeitplan oder wenn mein Handy nicht im WLAN ist.
     (einfach zum Stromsparen)

Hat schon Jemand wa

[2015-10-27 12:29] tooliload commented on #11
Hallo,

ich habe nun noch etwas neues probiert und bin zufällig auf etwas gestoßen.

Der WS2812B mit WS2811 Controller aktualisiert sich bei mir nur, wenn ich ihn kurz vom Strom trenne und erneut anschließe. Hast du eine Idee warum?

Die LED´s werden über den Python Script perfekt angesteuert, wenn ich dann das Netzteil vom WS2812B trenne und nach wenigen Sekunden wieder anschließe, leuchten die L

[2015-10-27 12:49] tooliload opened #14 "WS2812B mit WS2811 Controller (Nachtrag #11)"
Hallo,

ich habe nun noch etwas neues probiert und bin zufällig auf etwas gestoßen.

Der WS2812B mit WS2811 Controller aktualisiert sich bei mir nur, wenn ich ihn kurz vom Strom trenne und erneut anschließe. Hast du eine Idee warum?

Die LED´s werden über den Python Script perfekt angesteuert, wenn ich dann das Netzteil vom WS2812B trenne und nach wenigen Sekunden wieder anschließe, leuchten die L

[2015-10-27 20:52] bk1285 commented on #14
Hi @tooliload

hm... um ehrlich zu sein, kann ich dieses Verhalten nicht erklaeren. Da jedoch auch der Rainbow-Test betroffen ist, vermute ich, dass es eine Fehlfunktion der library rpi_ws281x ist, die die LEDs ansteuert. Daher wuerde ich dir empfehlen dort mal direkt bei den Entwicklern nachzufragen.

Hoffe das hilft.

Beste Gruesse,
Bernd

[2015-10-27 20:54] #14 closed

[2015-10-27 20:58] bk1285 commented on #13
Hi Rene,

zu 1): ich habe Heiskleber verwendet. Falls du eine bessere Alternative findest, melde dich gerne.

zu 2a): Hast du schon Hardware dafuer rausgesucht? Ich finde die Idee ganz nett und wuerde ggf. die gleiche Hardware kaufen und mitentwickeln... :)

zu 2b): Ich weiss von niemandem, der das bisher versucht hat. Klingt aber nett... :)

Beste Gruesse,
Bernd

[2015-10-28 07:40] rene100575 commented on #13
Hallo,

zu 1) da es mit Heiskleber bei mir null gehalten hat habe ich einfach Silikon versendet - das Zeug womit man im BAD Fugen abdichtet - klebt wie Hölle trocknet leider sehr lange.

zu 2a) ja, Hardwarekosten sind überschaubar ich werde einen DHT22/AM2302 verwenden ca. 5€. Hier gibt es einen schönen Blog dazu.
http://www.sweetpi.de/blog/436/luftfeuchtigkeit-und-temperatur-mit-dem-raspberry-pi-

[2015-10-29 20:12] bk1285 commented on #13
Habe die Komponenten für 2a bestellt... Lieferzeit zwischen 7. und 27. November...

Bin gespannt... :)

[2015-10-30 06:55] rene100575 commented on #13
Hi,

ja cool - sag bescheid wenn du sie da hast - meine Sachen sollen auch
nächste Woche kommen....

VG Rene

2015-10-29 21:12 GMT+01:00 Bernd <notifications@github.com>:

[2015-11-13 06:56] euchkatzl commented on #13
Hi,
erstmal vielen Dank für die Bereitstellung des Codes ! Sehr gute Arbeit.

Ich werde mir demnächst eine solche Uhr bauen und habe dazu zwei Fragen.

1. ) Da ich aus Bayern komme werde ich die Anzeige der Zeit ein wenig Anpassen. Den Code dazu kann ich bereitstellen sobald er fertig ist. Wie das geht habe ich bereits herausgefunden. Ich muss dazu nur eine neue time_german_bavaria.py Datei anlege

[2015-11-13 23:06] bk1285 commented on #13
Hi,

zu 1.) stimmt. time_bavarian.py oder time_german_bavarian.py wuerden sich anbieten. Wenn das alles funktioniert, gerne auch hier sharen.... ;)

zu 2.) Das ist eine Sache, die ich auch schon ewig mal angehen wollte. Die neuste Version unterstuetzt nun das setzen der Helligkeit (brightness) im config-file.

Best!
Bernd

[2015-11-25 22:19] stefancarlton commented on #13
Hi,

I forked Bernd's code and removed the external buttons as I didn't need it for my version: https://github.com/stefancarlton/rpi_wordclock and moved the "minutes" to be within the matrix. I intend to update it to use websockets and a little website to replicate the buttons but haven't got around to it yet.

You can see my version over on http://clock.stefancarlton.net

To set the LEDs you simp

[2015-11-25 22:36] stefancarlton commented on #13
my version has all the plugins disabled bar the time_default and the "start-up". The start-up is very actually nice and easy to understand how to get things to light up.

https://github.com/stefancarlton/rpi_wordclock/blob/master/wordclock_plugins/startup/plugin.py
On startup the clock displays "It it Lina oclock" and that is done by specifying the individual LED's on line 24.

Taking your example

[2015-11-25 23:06] bk1285 commented on #13
Hi! Nice to see, how the "wordclock"-community is evolving...! :)

You're actually both right, that it might be a good thing to disable the buttons at the beginning.

Concerning the wiring, I'd like to shortly point out the concept of the software:
It is provided in different layers. All plugins (the time, tetris,...) access hereby the top-layer of the coordinates for eased programming (top left (

[2015-11-25 23:13] bk1285 commented on #13
Hi @whybot
... you might be lucky, and just choose "christians wiring" within the config file.

If it crashes (??) reduce the LED-count to
    self.LED_COUNT = self.WCA_WIDTH*self.WCA_HEIGHT
... and map the minutes all to 0 (since you do not have any leds for that...)

Keep us updated! Happy to get any news... ;)

[2015-11-25 23:17] bk1285 commented on #13
After having this done, you need then to specify the individual words of your french layout, by creating a time_french.py in https://github.com/bk1285/rpi_wordclock/tree/master/wordclock_plugins/time_default as outlined by @stefancarlton

[2015-11-25 23:19] stefancarlton commented on #13
Aha, thats the piece of the wiring puzzle I forgot to mention - I simplified the grid generation for what I needed by hardcoding it to English (I ran out of time to go for niceties) https://github.com/stefancarlton/rpi_wordclock/blob/master/wordclock_tools/wiring.py#L70

[2015-12-06 07:12] SirHenryChicksatt commented on #13
Hallo,
Eine Frage hätte ich. Hab mir die Matrix aus den LEDs zusammengelötet und das Testprogramm läuft auch perfekt durch. Wenn ich die Wordclock starte wird auch von meinem Layout die korrekte Zeit angezeigt, die LEDs wechseln nur ständig die Farbe. Die übrigen flackern ab und an kurz auf. Habt ihr eine Idee wie ich dieses Problem beheben kann?
Schon mal danke für einen eventuellen Tipp!

Grüße

[2015-12-09 19:11] euchkatzl opened #15 "Sharing new Code"
Hi,
As mentioned in Ideen/Fragen i've done a bavarian layout.
I've also added dynamic brightness switch (on pin 24) and a x-mas plugin (showing the text "Merry X-Mas).

How can i share my code ?
Here is a link to a patch file. Don't know if this is working.
https://www.dropbox.com/s/cspeqv0wfcxtm5b/patch.diff?dl=0

[2015-12-11 06:57] euchkatzl opened #16 "Some Points for troubleshooting section"
Hi,
i have some things that you could ad to the troubleshooting section.

1.) When the LED's do not light up as expected check if there is a ground connection from the pi to the LED Strip. That is absolutely necessary.

2.) Another problem could be that the LED Strips are connected in the wrong direction. Take care of the little arrow on the strips to connect them properly.

3.) a Wiring Layout fr

[2015-12-12 01:03] bk1285 commented on #16
Hi @euchkatzl , thanks for the feedback. Indeed, was working on a wiring layout. Now it's added to the documentation. I also added your comments to the troubleshooting section: https://github.com/bk1285/rpi_wordclock/commit/33f790120a43ad50b282521505033b7bdf73d85d

I'll add your bavarian layout soon! Thanks for sharing! :)

Regards,
Bernd

[2015-12-12 01:03] #16 closed

[2015-12-12 14:26] bk1285 commented on #15
Hi!

I applied your patch file locally on my clock. There's really some cool stuff in there! Nice! I'll reiterate through it, if I find some more time and will then provide the code here! :)

Concerning your question, how to share code in general: The most convenient way is to

  * fork the latest master branch from this repository
  * apply your changes
  * create a pull-request (allowing me to a

[2015-12-12 14:31] bk1285 commented on #13
@rene100575 Temperatursensor ist angekommen.... Werde demnaechst hoffentlich die Zeit finden, das mal zu implementieren... :)

[2015-12-17 11:41] Warent2454 commented on #15
Hi,

I also did a git add and commit with several files needed for the layout i needed (10x10) in dutch. because the 11x11 already in the code does not work correctly. I hope you received it, else i will try again.

[2015-12-21 23:52] bk1285 commented on #15
Hi @Warent2454  I did not receive anything... Maybe try to trigger a pull-request for your changes.

Regards,
Bernd

[2015-12-27 19:17] bk1285 commented on #13
Hi @rene100575  habe den Temperatursensor integriert. Du darfst gerne testen und feedback geben! :)

To all other contributors of this issue: I close this for now, since it was initially intended to discuss the integration of a temperature sensor. ;)

In case you find other issues, open a new specific one ;)

Best,
Bernd

[2015-12-27 19:17] #13 closed

[2015-12-27 19:25] #15 closed

[2015-12-27 19:52] rene100575 commented on #13
Hi,

Cool dann warst du schneller als ich ;-)
Ich werde es gerne testen befürchte aber das ich es erst im Jan schaffe...

Vg René

Von meinem iPhone gesendet

[2015-12-30 23:24] SEBatHome opened #17 "Modulimport für Temperatursensor verhindert Programmstart"
Hallo,

zunächst eine großes Lob für das tolle Projekt. Ich verfolge die Wordclock im Eigenbau Initiativen seit geraumer Zeit und freue mich, dass es jetzt eine Version mit dem Rapi gibt, die die Anzeigevarianten Temp etc. deutlich gegenüber der nur Zeitanzeige erhöht. Mangels  eigner Programmierfähigkeiten bin ich für die Vorlage sehr dankbar. Uhr ist (die letzen beiden Tage) gebaut und funktioni

[2015-12-31 13:12] bk1285 commented on #17
Hi @SEBatHome

besten Dank fürs feedback! Freut mich zu hören, dass das Projekt in 2 Tagen realisierbar ist! :D
Den Import für den Temperatur-sensor habe ich gefixt... :)

Die weiteren installs füge ich der Troubleshooting section hinzu. Ich selbst konnte habe die packages bisher nicht installieren müssen... :)

Beste Grüße,
Bernd

[2015-12-31 13:12] #17 closed

[2016-03-09 07:11] euchkatzl opened #18 "Remote Control"
I have created an experimental iOS App to Control the Wordclock from your smartphone. (Needs Xcode to Compile and Run)

Check it out here :

https://github.com/euchkatzl/RaspberryWordclock-iOS

[2016-03-12 15:23] bk1285 commented on #18
Hi @euchkatzl ,

That's a great thing! I like it a lot! I shortly inspected your repository and saw, that some diff needs to be applied to the wordclock installation in order to make it work with the app...

Maybe we should team up to modify the wordclock to be iOS-ready by default... ;)

I'd even consider one "global" solution, which considers android as well. I'll take a closer look, if I find t

[2016-03-14 06:37] euchkatzl commented on #18
I'm am already working on a better solution.

The best solution will be a simple web site hosted by the pi accessible through a normal web browser.

I have little experience with that but i will get this work i think.
I will post it here as soon as possible.

Would be great if you could apply this patch by default.

[2016-03-16 11:00] euchkatzl commented on #18
I have made the Web based solution.
Check it out : https://github.com/euchkatzl/RaspberryWordclock-RemoteControl.

My main Problem is that i cannot test all this stuff because the clock was a present for christmas and i have no possibility to give it a "live" try at any time. I will build mine in the course of this year.

Will be great if we get this working.

[2016-03-17 18:47] dgeordgy21 opened #20 "Disable the three bouttons"
Hi,
For my projet, I dont need the three bouttons. Please could we have the possibility ton disable them to avoid the "Pin 17 pressed." error.

[2016-03-17 19:10] stefancarlton commented on #20
Checkout my fork for ideas... I disabled them too.

I also made it English / my word clock specific, but it'll help you understand what you need to change.

[2016-03-19 23:13] bk1285 commented on #20
Hi @dgeordgy21

I provided a fix. If you checkout the latest version, you can update the config-file as follows:

[code]

Hope that helps. Otherwise, reopen again... :)

Regards,
Bernd

[2016-03-19 23:13] #20 closed

[2016-03-20 11:30] christiankrueger16790 opened #21 "Need help"
Hi all,

Sorry, if i write down my comment into the wrong directory, but didn´t found a directory for questions.

I´m also want to build a RPi wordclock. I´ve got a rpi a+ model with ws2812 led controller.
Unfortunately, I'm still a little inexperienced in matters of led-controlling with a raspberry pi.
I´ve finished the hardware setup and installed the software like the description.
But when i´m

[2016-03-20 17:58] bk1285 commented on #21
Hi @christiankrueger16790

hm... What do you mean with ws2812 controller? You just need to connect a WS2812B led-stripe to the Raspberry.

Ideas from my side:
- ensure to have a WS2812B led strip (no WS2812: This is untested and possibly does not work)
- ensure to have the correct number of LEDs set to trigger (adopt the strandtest.py)
- ensure to have a power supply, which supplies enough power:

[2016-03-20 17:58] #21 closed

[2016-03-22 07:46] christiankrueger16790 commented on #21
Hi Bernd

Sorry, but it is a ws2812B led stripe, not only ws2812.
I set the correct number of leds (114 counts).
I´ve got a power supply of 5V/10A, i think that´s ok.

Do you have another idea?

Can create and upload a zip file of your actual wordclock image with win32 disk manager, is it possible?
Because I want to ensure, that i don´t forgot any packages.

Regards
Christian

[2016-03-22 19:34] bk1285 commented on #21
Hm.... maybe try to go through the installation steps again: If you reinstall the packages, you might identify missing dependencies...

Regards,
Bernd

[2016-04-05 07:31] dgeordgy21 opened #23 "IR control"
Hi all!
Finialy I have attached the tree bouttons and they are working!
But it's not practical at all especially if the clock is mounted on a wall...
My idea is to control the clock with a IR remote control.
I'm not a programmer, so I found this code seems to do the job.
Do you think you can atapt it?
http://ozzmaker.com/how-to-control-the-gpio-on-a-raspberry-pi-with-an-ir-remote/

[2016-04-07 20:44] bk1285 commented on #23
Hi @dgeordgy21

I like the concept quite much. However I'd currently give #18 priority. If this work out well, you can control the clock with your smartphone or any other pc/laptop/tablet within your local network.

Regards,
Bernd

[2016-04-07 20:44] #23 closed

[2016-04-12 16:38] whybot opened #24 "stencil/clock face"
Hello,
Are you able to provide link(s) to online vendors who can produce customised stencil/clock faces perhaps the online company used for this? -might be useful to add to the hardware list in the documentation.
Thanks :)

[2016-04-12 23:23] stefancarlton commented on #24
I used https://www.ponoko.com/ for my clock face in wood. They were very helpful in getting my layout in the correct format for their printers.

[2016-04-13 21:02] bk1285 commented on #24
Thanks @whybot and @stefancarlton for the hints. I'll add it to the documentation.
Regards,
Bernd

[2016-04-13 21:10] bk1285 commented on #24
... why not wait for possible further comments and ideas... ;)

[2016-05-14 09:08] tooliload opened #25 "christians_wiring nutzen"
Hallo,

# Achtung! Die Uhr basiert anscheint doch nicht auf dem Layout christians_wiring. Ich habe mir nun meinen eigenen Wiring geschrieben. Siehe meinen 3. Post.

nach dem ich nun einen neuen LED Streifen bestellt habe, geht das Projekt auch bei mir weiter. Tatsächlich konnte mein alter LED Streifen mit genau den selben LED´s nicht gesteuert werden. - Defekt am LED Streifen ....

Der neue LED St

[2016-05-14 09:30] tooliload commented on #25
![wp_20160514_11_12_58_pro](https://cloud.githubusercontent.com/assets/64070/15267598/97e98b44-19c6-11e6-862b-eddc9334ccb9.jpg)

Dieses Bild sollte eigentlich die Uhrzeit 11:12 Uhr zeigen.

Rückseite / Verkabelung:
Die erste LED die vom Pi angesteuert wird, ist die 4 (unten links), dann die 3 (unten rechts), dann die 2 (oben links), die 1 (oben rechts) und anschließend geht die 1 zum ersten oberen

[2016-05-14 13:58] tooliload commented on #25
Bastelstunde beendet. So sieht mein Wiring Layout aus.

`
class tinos_wiring:

    def __init__(self, WCA_WIDTH, WCA_HEIGHT):
        self.WCA_WIDTH   = WCA_WIDTH
        self.WCA_HEIGHT  = WCA_HEIGHT
        self.LED_COUNT   = self.WCA_WIDTH*self.WCA_HEIGHT+4

        print("Show Leds:")
        print(self.LED_COUNT)

        print "Height / Width: ", self.WCA_HEIGHT, " / ", self.WCA_WIDTH

    d

[2016-06-09 16:37] bk1285 commented on #25
Hi @tooliload
super, dass das geklappt hat. D.h. es gab Fehler bei Christians wiring? Da du das ja lösen konntest, schließe ich das issue...

Beste Grüße,
Bernd

[2016-06-09 16:37] #25 closed

[2016-07-10 10:49] plotaBot opened #26 "freetype exeption: cannot open resource"
###### My setup: latest jessie on RasPi2
I followed the installation instructions step by step (with std .cfg) and realised that the problem described in issue #12 doesnt exist anymore.
The suggested solution to install [richardghrist's version of rpi_ws-281x](https://github.com/richardghirst/rpi_ws281x) doesnt work in my setup, because it uses mailboxes which aren't supported anymore.
--Correct m

[2016-07-14 21:23] bk1285 commented on #26
Enjoyed reading your issue (and liked to see yourself finding the right solution ;)

I updated the documentation as proposed by you!

Regards,
Bernd

[2016-07-14 21:23] #26 closed

[2016-07-23 01:05] nathangoss opened #27 "Ambient Light Sensor"
Hi Guys!

Am looking to add an ambient light sensor to the RPI_Wordclock.

I can see a fair bit of brightness-related code in wordclock_plugins/time_default/plugin.py however can't seem to work out the best place to incorporate changes based on readings from a light sensor.

Has anybody thought about this?

Thanks,

Nathan

[2016-07-24 11:29] bk1285 commented on #27
Hi @nathangoss

nice idea to integrate that!

Querry the brightness from your sensor within the while-loop:
https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_plugins/time_default/plugin.py#L79

... and update the brighness value:
wcd.setBrightness(your_value_within_the_range_0_to_255)

before the  wordclock display is updated in line 89:
https://github.com/bk1285/rpi_wordclock/blob/mas

[2016-07-31 21:51] i-pinz commented on #24
Hello Bernd,

What is the size of the wooden board you used? And the framing is done with alu-profiles or did you had a frame from an picture-frame. Your project looks nice, and I'm just collecting the pieces I need to make a shopping tour. What I miss is a some kind of measurement of the frame and the wooden board.

Thanks
pinz

[2016-07-31 22:20] bk1285 commented on #24
Hi @i-pinz,

I used alu profiles. The wooden board needs to have the same size as your stancil. To make the alu-profiles fit, consider that they need to overlap at the corners. Hope, that helps?

Regards,
Bernd

[2016-07-31 22:33] i-pinz commented on #24
Hi Bernd,

I was looking around and I'm think I'm going to put it into a frame of an Swedish company that has a size of 50 by 50cm, I guess it should fit. It is also a rather bulky frame, so I hope I can fit the pi and the buttons into it.

Tomorrow I will grab on of the PIs I have and look the local shop of this Swedish company.

As I see it at the moment I have to create the stencil with the pyt

[2016-08-01 21:36] bk1285 commented on #24
Hi @i-pinz,

your concept with the frame of the swedish company sounds interesting! ;) Since it's a somehow new approach (compared to mine), it would be great, if you'd share a picture or two of the final result... :)

The thick wood improved indeed the illumination of the characters (ensuring a minimum distance between LED and plate).

Good luck and best regards,
Bernd

[2016-08-01 21:38] bk1285 commented on #24
PS: If you rerun the python scripts with your own measures of the stancil, consider the correct spacing of the characters according to the LED-strip you use. If you choose the spacing to wide, your LED-strip might not be useable anymore... ;)

[2016-08-01 21:59] stefancarlton commented on #24
Hi pinz,

I did something similar with a wooden frame (albeit custom made) and you
can see the steps I took here http://clock.stefancarlton.net

One thing i learned is the importance of the diffuser material, the
distance between the led & the diffuser and the size of the letter cutouts.
The one i built is a bit glarey and doesn't glow like Bernd's does.

Remember as well you can get led strips wi

[2016-08-02 13:02] Tetrikus commented on #24
Hi all
I actually used the glass front of the Swedish wooden frame but have built a wood/alu frame around it since I felt like the frame is too deep. I reduced the depht of the clock to about 3cm and I guess the Ribba frame was a bit more.
Looks quite nice in my opinion but I will build a few more clock faces out of plexiglas in different colors and glue some magnets on it to make it easily replac

[2016-08-25 16:27] ELViTO12 opened #28 "not functioning correctly"
Hello,
I have some troubles getting the clock to work. I connected all the cables to my rpi2b following bernds wiring and with the test function of the rpi_ws281x package i tested all the leds and they work. However when i start the rpi_wordclock all the leds randomly start flashing but it does not show the time. I installed raspbian and all of the packages twice and allso changed the rpi_ws281x l

[2016-08-25 17:29] tooliload commented on #28
Hi have you setup the right wirering in settings? What wirering layout use you?

[2016-08-25 19:05] ELViTO12 commented on #28
I am using bernds wiring which is also default in the wordclock config so i did not have to change that.
I saw in the specifications of rpi_ws281x : 'Converting the output from a Raspberry Pi GPIO/PWM to a higher voltage through a level shifter is required.'  I however did not see it in the layout of the tutorial nor in the video of the wiring so i also didnt do it,or maybe i missed it. Maybe that

[2016-08-28 20:31] protectionofficer opened #29 "Dimensions of the LED strip"
Hi,

Just about to start my adventure into your WordClock and would like to asked, which LED strip I should buy as they are so many on the market.

The options that are available are:
30 LEDs/m
60 LEDs/m
74 LEDs/m
96 LEDs/m

I have found a reasonable eBayer in the UK :

http://www.ebay.co.uk/itm/1-5-30-60-144-leds-m-WS2812B-5050-RGB-IP20-IP67-5V-Addressable-LED-Light-Strip-/112084027623?var=&hash=

[2016-08-28 21:13] bk1285 commented on #29
Hi @protectionofficer consider, that you need at least 114 LEDs to use the wordclock. So consider for example this version here: 5m with 150 LEDS: http://astore.amazon.co.uk/araspbepiba0c-21

I didn't try with the RPi3 yet, but since jgarffs library should be compatible, it *should* work out. https://github.com/jgarff/rpi_ws281x

Maybe give it a try and report back, if it works out with the RPi3.

[2016-08-28 21:21] bk1285 commented on #28
Hi @ELViTO12,
thanks for reporting. That's very strange! Sebastian, a friend of me, ran into the very same problem few days ago.

First, I thought about blacklisting the audio-kernel (as described here https://github.com/jgarff/rpi_ws281x/commit/27229b24028082b2ef9314c6247f621af296486d )
But since the LEDs work with the rpi_ws281x-package, this should not be the point.

I'll meet with Sebastian th

[2016-08-29 05:33] protectionofficer commented on #29
Thanks for quick response, will get back to as soon as I can with the update.
Thanks again for all your knowledge.

Darren

[2016-08-29 19:25] #29 closed

[2016-08-29 19:30] bk1285 commented on #28
Hi @ELViTO12,

in our case, it's about blacklisting the audio-kernel... Can you check this: http://www.instructables.com/id/Disable-the-Built-in-Sound-Card-of-Raspberry-Pi/ and confirm? If this resolves your issue as well, I'll add it to the docs. Please confirm.

Regards,
Bernd

[2016-08-29 20:34] ELViTO12 commented on #28
Hi Bernd,

Thank you very much for responding and finding a possible solution! I will follow the steps of the tutorial this week and will keep you posted.

Regards

[2016-08-30 14:51] ELViTO12 commented on #28
I just implemented the solution and it works like a charm! Thank you very much for your advice :smile:
 I also wanted to note that I have installed the rpi_ws281x package of jgarff on my raspberry pi 2 and it works. The recommended "Richards library" does not work.

[2016-09-06 09:51] Tihmann opened #30 "Angaben zur Holzplatte"
Hallo, erstmal vielen Dank für das coole Projekt. Möchte jetzt auch mein eigenes Projekt starten. Ich habe in der Beschreibung keine Angaben zur verwendeten Holzplatte gefunden. Vermute es könnte eine MDF Platte sein. Welche Abmessungen, welche Stärke ? Und welchen Durchmesser haben die Bohrlöcher bei Eurem verwendeten 30 LED/m LED Strip ?

[2016-09-10 16:06] bk1285 commented on #28
@ELViTO12 @tooliload

thanks for your reports/advices. I updated the docs accordingly: https://github.com/bk1285/rpi_wordclock/commit/cb47c9d8fd06cefb08efb13101c305efcdc691e7

Regards! :)

[2016-09-10 16:06] #28 closed

[2016-09-10 16:09] bk1285 commented on #30
Hi @Tihmann

Bei mir waren das 16mm MDF mit 20mm Durchmesser der Bohrlöcher. Das variiert jedoch mit dem Layout deiner Frontplatte: Je nachdem wie der Abstand der Buchstaben ist, kann man auch größere Lochdurchmesser wählen.

Cheers,
Bernd

[2016-09-11 20:51] #30 closed

[2016-10-01 14:18] Tihmann commented on #30
Hallo,

ich habe doch noch ein paar Fragen, wie groß war der Abstand zwischen den LEDs auf Deinem LED Strip und woher hattest Du das Layout der Frontplatte ? Ist es das aus dem Github ? Wo hast Du die Glasplatte drucken lassen ?

[2016-10-01 19:37] Tihmann opened #31 "Design Frontplatte"
Hallo,

ich habe doch noch ein paar Fragen, wie groß war der Abstand zwischen den LEDs auf Deinem LED Strip und woher hattest Du das Layout der Frontplatte ? Ist es das aus dem Github ? Wo hast Du die Glasplatte drucken lassen ?

Vielen Dank.

Liebe Grüße,

T. Ihmann

[2016-10-01 20:11] ulab commented on #31
Das Layout findest Du in https://github.com/bk1285/rpi_wordclock/tree/master/wordclock_layouts/german_11x10 (Ich vermute mal, Du brauchst die deutsche Version :)).

Das SVG-Layout kann man mit einem Schneidplotter aus einer selbstklebenden Vinyl-Folie ausschneiden lassen. Folienbeschriftungs-Dienste gibt es normalerweise in jeder Stadt oder auch online.

[2016-10-01 20:15] ulab opened #32 "minor typo: stancil -> stencil"
You use the word "stancil" everywhere, but the correct word is "stencil". :)

[2016-10-01 21:38] Tihmann commented on #31
Vielen Dank. Wie war denn der Abstand der LED auf dem Strip?

[2016-10-02 07:23] ulab commented on #31
In der Doku gibt es einen Link auf einen Amazon-Store für die Komponenten. Dort wird das folgende Produkt benutzt: https://www.amazon.de/WS2812-integrierten-Controller-Anschlusskabel-wasserdicht/dp/B00GXGOJLQ/ref=sr_1_1?ie=UTF8&qid=1475392632&sr=8-1&keywords=B00GXGOJLQ. Der Abstand wird dort Mitte-Mitte mit 33 mm angegeben. (In einem Kommentar, in der Beschreibung steht was von 17 mm...?!?)

[2016-10-02 10:20] euchkatzl commented on #18
Hi Bernd,
finally  created my own clock and get the remote stuff working. (On all devices ;) )

Can you please check out the changes in my Repository and perhaps include it ? (https://github.com/euchkatzl/RaspberryWordclock-RemoteControl)

It is really cool playing tetris with controlling from your smartphone ;)

[2016-10-02 10:23] euchkatzl commented on #31
Schau mal hier :
http://www.mikrocontroller.net/articles/Word_Clock

Da findet mann eigentlich alles was gebraucht wird.
Auch eine dfx Datei falls du dir ne Edelstahl Front lasern lassen willst .

[2016-10-02 10:26] euchkatzl commented on #31
Noch ne gute Quelle
http://diskussion.christians-bastel-laden.de/

[2016-10-02 10:56] bk1285 commented on #31
@euchkatzl Done! :)

[2016-10-02 11:08] bk1285 commented on #32
Thanks for reaching out! Fixed! :)

[2016-10-02 11:08] #32 closed

[2016-10-02 11:20] bk1285 commented on #18
Awesome! I need to check this out!

I'll definitely add it to the repository! But tell me: Do your virtual GPIOs interfere with the real buttons?

Regards!
Bernd

[2016-10-02 11:22] bk1285 commented on #23
Hi @dgeordgy21
@euchkatzl reports to have a working remote control as mentioned in #18 Maybe you want to give it a try. :)

[2016-10-02 11:26] euchkatzl commented on #18
No. The real buttons work like before. They have the same functionality.

Look at wordclock_interface.py file.

It is just and "or" clause.

[2016-10-06 06:34] euchkatzl commented on #27
Hi @bk1285 @nathangoss ,
i will do this this within the next few weeks.

I will use the following light sensor:
http://www.ebay.de/itm/Lichtsensor-Fotowiderstand-/291751650665?hash=item43edc0e569:g:ugkAAOSwMNxXZKqY

I keep you informed about the results.

[2016-10-30 17:29] ebeng opened #33 "Couple of Questions"
Hi Bernd,

I would like to thank you very much for putting this Worclock into the world of living :)
Last couple of months i've made my own clock.
The layout of the stencil i used is from here: https://cdn.instructables.com/F1D/NLCG/HYPNVXKB/F1DNLCGHYPNVXKB.LARGE.jpg
The clock is including the wood etc 65cmx65cm.

There is for now a couple of things i would like to ask you now.

My Leds are beginn

[2016-11-06 18:25] Nthl25 opened #34 "Uhrzeit wird angezeigt, zusätzlich jedoch weitere Buchstaben"
Hallo,

ich habe gestern meine WordClock fertig gestellt und hatte kurzfristig die korrekte Uhrzeit in weißer Schrift auf meiner Uhr.

Wenige Sekunden später wechselte die Farbe zu blau und seither leuchten zusätzlich noch einige Buchstaben in weiß.

Hat jemand von euch eine Ahnung, woran das liegen könnte?
Die Blaue Farbe ist übrigens auch nicht durchgängig gleich hell/dunkel.

Grüße

[2016-11-06 18:52] euchkatzl commented on #34
Hast du schon die Punkte von diesem Ticket überprüft ?
https://github.com/bk1285/rpi_wordclock/issues/28

Der audio kernel war bei mir das problem.

Zusätzlich bitte mal den strandtest.py im rpi_wx /examples/python ordner ausführen und testen ob der richtig läuft.

[2016-11-07 15:10] protectionofficer opened #35 "Word clock displaying wrong colour in the plugins"
Hello Bernd,

Finally finished the WordClock (English version) and noticed that my colours in various Plugins are the wrong colours compared to your video.

The main visual difference is with the Matrix Plugin, the colour is a bright red instead of green.
I have checked the 'time_matrix/plugin.py' file and it clearly shows green as the HTML code?

I can only guess the hardware or software has the

[2016-11-07 16:18] Nthl25 commented on #34
Den Eintrag hatte ich ursprünglich schon gemacht.
Nachdem ich die Datei nochmal angelegt habe funktioniert es (Rechtschreibfehler waren keine drin...).

Danke dir für deine Hilfe!

[2016-11-07 23:56] bk1285 commented on #35
Hi Darren,

can you try to replace line 29:
`self.strip = Adafruit_NeoPixel(self.wcl.LED_COUNT, self.wcl.LED_PIN, self.wcl.LED_FREQ_HZ, self.wcl.LED_DMA, self.wcl.LED_INVERT, brightness)`
with
`self.strip = Adafruit_NeoPixel(self.wcl.LED_COUNT, self.wcl.LED_PIN, self.wcl.LED_FREQ_HZ, self.wcl.LED_DMA, self.wcl.LED_INVERT, brightness, 0, ws.WS2811_STRIP_GRB)`

within the file wordclock_tools/wordcl

[2016-11-07 23:56] #34 closed

[2016-11-08 13:09] protectionofficer commented on #35
Hi Bernd,

Yes, simply adding: 0, ws.WS2811_STRIP_GRB worked perfectly.
Can not thank you enough for you're vast knowledge and expertise.

Was it because I bought the wrong LED strip?

Darren

[2016-11-08 21:44] bk1285 commented on #35
Ok cool. Thanks. Fixed in 98e6e2c

[2016-11-08 21:44] #35 closed

[2016-11-11 23:22] oxivanisher opened #36 ""am2303_rpi" no longer available in pip repository"
It seems as the " am2303_rpi" is no longer available in the pip repository. I did not find another way to get the temperature and humidity sensor working.

[2016-11-11 23:26] oxivanisher opened #37 "NeoPixel dependency is too old to accept customized brightness values and correct RGB-settings"
I did a clean install of the wordclock software as documented in the readme. With the current master of the https://github.com/jgarff/rpi_ws281x library, the wordlock is not working And with the mentioned commit https://github.com/jgarff/rpi_ws281x/tree/2f9e03c45ba0964029204db565ad9d6233b3a1a6, I get the following warning:
[code]
Do you have another commit with these features available which you k

[2016-11-14 10:21] bk1285 commented on #37
Hi @oxivanisher,
do you have any further details, why the clock doesn't work with the current master from rpi_ws281x?
Regards,
Bernd

[2016-11-14 10:37] bk1285 commented on #36
How about this: https://learn.adafruit.com/dht-humidity-sensing-on-raspberry-pi-with-gdocs-logging/software-install-updated

Would be great to have short feedback, if and how it works...

Regards,
Bernd

[2016-11-14 16:54] oxivanisher commented on #36
I did all that already, but the rpi_wordclock still prints:
[code]
But, the tests from the Adafruit site are working.
[code]

[2016-11-15 01:09] SimJaaenis commented on #18
Does it work at the moment? I tried it, but when I start the Webiopi-deamon I'm not able to use any button at the clock or at the web-interface.
I read, at the RaspberryWordclock-RemoteControl-project, you are using the Pins 7, 8 and 11.
If you are referring on this wordclock-project, shouldn't it be Pins 11, 15 and 18?

[2016-11-15 06:43] euchkatzl commented on #18
Yes it works for me !
I have choosen GPIO's 7,8 and 11 (that is not the pin number! There is a difference. pin numbers for the Remote Control are 23,24 and 26). Of course you can use any other GPIO's. But then you have to modify the patch file and the index.html in my repo.
GPIO 18 you cannot use because it is used for the LED signal.

What did you do so far ? Did you see my Web Interface that i h

[2016-11-15 22:00] oxivanisher opened #38 "Add the possible requirement of a "level shifter" to the documentation"
I took me some testing and fiddling around to realize that I need a "level shifter" to drive my 5V LED's. They are flickering like this: https://www.youtube.com/watch?v=UHxVS8SkXOU

If possible, this should be added to the documentation somewhere. As recommended by the rpi_ws281x guys in this issue https://github.com/jgarff/rpi_ws281x/issues/127, I will use a 74HCT125.

[2016-11-15 22:09] oxivanisher commented on #37
Yes, the error is the following:
[code]
I tried hacking around for some minutes, but since I have other problems with the project, I did not investigate it deeper at the moment. 😁

[2016-11-16 11:24] bk1285 commented on #38
Hi @oxivanisher thanks for reporting. I added your feedback to the troubleshooting section: https://github.com/bk1285/rpi_wordclock/commit/7c3a30268425ea77a963d2265a56b816ba1fb12c

Best,
Bernd

[2016-11-16 11:24] #38 closed

[2016-11-16 11:49] ebeng commented on #33
anyone?

[2016-11-16 11:54] euchkatzl commented on #33
Because you have an completely different layout only @bk1285  can answer this question.
The normal range goes vertical not horizontal. That is the reason why everything is weird shown.

[2016-11-16 12:01] euchkatzl commented on #27
I got things working with this sensor:
https://www.adafruit.com/product/439

it pretty easy because there are libraries which can be used. Of course the normal brightness stuff has then to be deactivated.

I will try to integrate that in the wordclock config and then publish the code.

[2016-11-16 13:16] SimJaaenis commented on #18
Referring to this image [http://rpi-wordclock.readthedocs.io/en/latest/_images/wiring.png](url) I did my wiring.
Left button is at GPIO 17 = Pin 11, return button is at GPIO 22 = Pin 15 and  the right button is at GPIO 24 = Pin 18.
Just to understand the functionality: Do you use the same GPIO's like the original (hardware) buttons, or are the virtual "buttons" just referring to the same functiona

[2016-11-16 13:29] euchkatzl commented on #18
The virtual buttons have only the same functionality as the original buttons.

But I think there is a wrong path file in the repo.
I will check this as soon as i am at home today.

[2016-11-16 16:53] euchkatzl commented on #18
i created a fork with all the changes :
https://github.com/euchkatzl/rpi_wordclock (Commit : 0846e15d1ce63b189e55d58257882202ac61cf84)

[2016-11-16 17:01] euchkatzl commented on #18
You can simply clone ist to another folder.
Then link the fontdemo.py and the this should work if you have configured webio-pi the right way.

I have tested this just right now ;)

[2016-11-16 21:37] bk1285 commented on #18
Great, @euchkatzl,  Just merged it back: https://github.com/bk1285/rpi_wordclock/pull/39

[2016-11-16 21:49] bk1285 commented on #33
Hi @ebeng,

ok... I'll try with some inline comments. Note, however, that there's a significant amount of work ahead for you! There are some tricky parts, where I'm not sure, whether we get smoothly trough...

Consider furthermore, to push your changes, so that we can have a look at them: e.g. here: https://github.com/ebeng/rpi_wordclock

Regards,
Bernd

Thanks :)

Please clarify: top left, ...: I

[2016-11-16 21:50] #31 closed

[2016-11-16 21:52] bk1285 commented on #27
... would be great to see your solution, @euchkatzl ;)

[2016-11-16 22:03] bk1285 commented on #18
@SimJaaenis can you confirm, if it works. If this is the case, I'll close the issue.
Bernd

[2016-11-16 22:35] bk1285 commented on #33
... please also have a look at the branches
https://github.com/bk1285/rpi_wordclock/tree/patch-1
https://github.com/bk1285/rpi_wordclock/tree/patch-2
https://github.com/bk1285/rpi_wordclock/tree/patch-3

... might give you at least a starting point.

[2016-11-17 13:18] SimJaaenis commented on #18
Short answer: Now It works! Thanks a lot!
Long answer: @euchkatzl In my case, I thought the htdocs-folder is the default of WebIOPi's-Webinterface, but WebIOPi doesn't use the "../htdocs/index.html" as default. After I tell WebIOPi in its config to do that, it worked.
I wondered a few times, why my browser didn't show any change of the index.html in 'htdocs'. After I changed the config-file to exa

[2016-11-17 14:19] euchkatzl commented on #18
Great !
@SimJaaenis
The timeout is 150 ms (look in the index.html). For the virtual buttons we have to simulate this.
Try setting it to 200 an report if it improves your stuff.

[2016-11-18 12:40] oxivanisher opened #40 "Icons have wrong colors"
https://github.com/bk1285/rpi_wordclock/commit/98e6e2c83bf7f94587b168a2b87d881e8cd92a64 worked like magic 👍 I now have the correct colors i.e. for the matrix plugin (it was red before, I think it was related to https://github.com/jgarff/rpi_ws281x/issues/122 ).
BUT the icons still are in wrong colors, meaning red and green are again swapped. I am not sure if this problem is only because of my LED

[2016-11-18 18:51] euchkatzl commented on #40
Try other values instead of ws.WS2811_STRIP_GRB !

Possible values are :
WS2811_STRIP_RGB
WS2811_STRIP_RBG
WS2811_STRIP_GRB
WS2811_STRIP_GBR
WS2811_STRIP_BRG
WS2811_STRIP_BGR

[2016-11-18 21:17] oxivanisher commented on #40
No you probably misunderstand me. After the commit I mention, my colors are correct (since @bk1285 added ```ws.WS2811_STRIP_GRB``` to the strip initialization. But in the code to read the .png files, it is still as RGB and not GRB, which messes up the colors.

I think this should be configurable somehow anyways, since not anybody has the same LED strip. Something like
[code]
in the configuration f

[2016-11-18 21:43] bk1285 commented on #37
Just merged your pull request back. Great work, @oxivanisher I especially like the 3d printing part...!

[2016-11-20 09:45] Nthl25 opened #42 "Netzteil"
Hallo,

ich habe eine kurze Frage bzgl. des Netzteils:

Benötigt man wirklich ein Netzteil mit 5V / 10 A?
Ich kenne mich was sowas angeht leider nicht aus, würde mich aber über eine kurze Erklärung freuen.

nthl.

[2016-11-20 10:01] #42 closed

[2016-11-20 12:41] SimJaaenis commented on #18
I think the problem is my WiFi.
I changed the position and now it works better without any code changes.

[2016-11-20 18:12] Nthl25 opened #43 "Fragen zur Nutzung der Buttons"
Hallo,

meine Wortuhr funktioniert inzwischen dank der Anleitung wunderbar, vielen Dank schonmal dafür. Jedoch habe ich das Problem, dass ich die Buttons nicht ans Laufen bekomme.

Dauerhaft erhalte ich die Meldung: "Pin 17 pressed".

Die Buttons sind anhand der [Anleitung](https://rpi-wordclock.readthedocs.io/en/latest/_images/wiring.png) verkabelt und angeschlossen. Muss ich sonst noch etwas bea

[2016-11-20 21:19] bk1285 commented on #43
Hi @Nthl25

schau mal hier nach dem 3. Punkt: https://rpi-wordclock.readthedocs.io/en/latest/doc_troubleshooting.html

Falls es nicht klappt, einfach nochmal melden. Der Controller ist ein touch-sensor (anstatt der Buttons)

Beste Grüße,
Bernd

[2016-11-20 21:19] #43 closed

[2016-11-28 15:07] FocusInfinity commented on #38
FYI: This problem can be circumvented by installing older RPI noobs OS. I can recommend v1.9.2 published on May 31 in 2016. --> http://downloads.raspberrypi.org/NOOBS/images/

[2016-11-28 16:53] bk1285 commented on #38
Great, @FocusInfinity! Thanks for the update! Did you also experience these difficulties?
Best, Bernd

[2016-11-29 09:07] Nthl25 opened #44 "Raspberry Pi Zero"
Hallo,

kann mir jemand von euch sagen, ob die Wordclock auch mit einem Raspberry Pi Zero funktioniert?
Leider gibt's häufig nur noch den Pi 3 zu kaufen, der ist aber in meinen Augen völlig überdimensioniert.

Grüße
nthl25

[2016-11-30 04:33] bk1285 commented on #44
Bin kurz davor das zu testen... Werde mich mit Updates melden.

Regarding the RPi3: Agreed, this one is overdimensioned. RPi0 would be great... ;)

[2016-11-30 18:02] HeerNMeester commented on #44
I'm building a version based on the RPi0. A Dutch 11x10 to be precise. So far I have installed the software, which gave no problem (except the AM2302 temperature sensor, but that a known issue). I don't expect further problems. My time is limited, so progress is slow.

[2016-12-01 15:37] bk1285 commented on #36
Can you check with am2302 (instead of am2303)? To me, the docs seem to be a bit inconsistent here? http://rpi-wordclock.readthedocs.io/en/latest/doc_software_setup.html#optional-dependencies-to-readout-temperature-sensor

[2016-12-01 18:33] Nthl25 commented on #44
Hallo zusammen,

ich bekomme beim installieren von python-scipy auf meinem Pi0 folgenden Fehler:

Es wurden 25,6 MB in 2 min 55 s geholt (145 kB/s).
E: Fehlschlag beim Holen von http://mirrordirector.raspbian.org/raspbian/pool/main/p/pillow/python-imaging_2.6.1-2+deb8u2_all.deb  404  Not Found [IP: 5.153.225.207 80].

Habt ihr eine Idee, was ich da machen kann?

Grüße

[2016-12-01 23:34] bk1285 opened #45 "Error during install of 3rd party dependency"
Reporter by @nthl25

Hallo zusammen,

ich bekomme beim installieren von python-scipy auf meinem Pi0 folgenden Fehler:

Es wurden 25,6 MB in 2 min 55 s geholt (145 kB/s).
E: Fehlschlag beim Holen von http://mirrordirector.raspbian.org/raspbian/pool/main/p/pillow/python-imaging_2.6.1-2+deb8u2_all.deb 404 Not Found [IP: 5.153.225.207 80].
Es existiert jedoch diese Datei mit einer anderen Kennung (?)

[2016-12-01 23:37] bk1285 commented on #44
@Nthl25 , Moved your issue here https://github.com/bk1285/rpi_wordclock/issues/45 since its not related to the Pi0

[2016-12-02 06:28] Nthl25 commented on #44
@bk1285 , okay. First I thought it was a RPi0-Problem. So I postet it in this issue. Hope anyone can help :)

[2016-12-02 15:33] Nthl25 commented on #45
It's really easy to solve...

helps

[2016-12-02 18:38] bk1285 commented on #45
@Nthl25 Great! Thanks for resolving... :)

[2016-12-02 18:38] #45 closed

[2016-12-03 21:09] Nthl25 opened #46 "type = gpio_high but it still says "Pin 17 pressed""
Hi,

I set the "type" in my configfile to gpio_high but when starting the wordclock-script, “Pin 17 pressed” is logged all the time. Do you have any ideas what this could be?

nthl

[2016-12-03 21:44] bk1285 commented on #46
you tested with gpio_low as well, right?

[2016-12-04 09:36] Nthl25 commented on #46
I tried both. But I always get the message "Pin 17 pressed".

[2016-12-04 10:08] bk1285 commented on #46
:/ ok. I'll try to reproduce with the latest version of the software as soon as I can...

[2016-12-04 10:45] Nthl25 commented on #46
I get the same problem if  i  connect my 'new' Pi to my 'old' wordclock. Do you know how i  can  install an old  version of your wordclock?

[2016-12-05 06:59] Nthl25 commented on #46
It is not an error in your wordclock software, sorry for my mistake.

I think it was something lika a cold soldering point on my LED stripes.
Now It is working with your latest software!

[2016-12-05 06:59] #46 closed

[2016-12-05 15:46] bk1285 commented on #46
Ok. Thanks for resolving!

[2016-12-11 15:00] HeerNMeester commented on #44
Yesterday I started my word clock with RPi0 for the first time. It it still a bread board design, but it worked fine (Many thanx to @bk1285 !!).
Only a few issues which can be resolved, but are not related to the use of the RPi0. (I also use a cheap China LED strip, so my colors are inverted as well (need to update the software) and my clock seems to be running one hour behind (daylight saving tim

[2016-12-12 11:06] bk1285 commented on #44
Hi @HeerNMeester thanks for the feedback! I had the software running on a RPi0 as well (without attaching the actual LEDs). So I close this issue and add a note to the docs concerning the compatibility with the RPi0.

[2016-12-12 11:06] #44 closed

[2016-12-16 11:45] Tihmann opened #51 "Question about Acrylglass"
What kind of acrylglass did you use for the design of the front stancil ? How many mm ?

[2016-12-17 09:28] Tihmann opened #52 "Fixation of front panel"
How die you fixate the front panel to the wooden skeleton. Could you show some details?

[2016-12-17 11:41] bk1285 commented on #51
Hi @Tihmann, I ordered it, not producing it myself. Its approx 4mm.
For further discussion please refer to https://github.com/bk1285/rpi_wordclock/issues/24

[2016-12-17 11:41] #51 closed

[2016-12-18 10:25] bk1285 commented on #37
Hi @oxivanisher, I recently setup another wordclock, but did not run into this issue.... Did you make you clock run meanwhile?

Regards,
Bernd

[2016-12-18 12:13] bk1285 commented on #52
Hi @Tihmann,

just added some documentation on it:
http://rpi-wordclock.readthedocs.io/en/latest/doc_hardware_setup.html#id5

Hope, this helps. Otherwise, please reopen the issue again.

Regards,
Bernd

[2016-12-18 12:13] #52 closed

[2016-12-18 13:31] Tihmann opened #53 "Position of holes"
I have modified the file bernds wiring to see the position of the holes. Could you check ? I could provide you with the svg file as well if you tell me your email adress. SVG upload is not possible....
[position.pdf](https://github.com/bk1285/rpi_wordclock/files/659438/position.pdf)

[2016-12-18 22:43] Tihmann opened #54 "Documentation of Hohlstecker / Buchse"
Could you add the following information concerning the Hohlstecker to the documentation:

https://de.wikipedia.org/wiki/Hohlstecker
https://www.mikrocontroller.net/topic/144329

And the USB Cable

http://www.expli.de/uploads/images/usb-kabel-123929397184_19680.jpg

[2016-12-19 01:36] Tihmann opened #55 "type = gpio_high but it still says "Pin 17 pressed""
I did a fresh install of your software. I have just connected the LED strip, no buttons. Parameter was set to gpio_high but I still get "Pin 17 pressed".....There is no soldering on the LED strip yet

[2016-12-19 20:13] Yoghurt02 commented on #55
Same problem here.
Couldn't figure out what to change until now...
Help would be much appreciated.

[2016-12-19 20:39] bk1285 commented on #55
No good.... Could you checkout a previous version, if it works? The git command

    git checkout HEAD~3

should work out ... Replacing 3 with the number of your choice...

[2016-12-19 20:53] Yoghurt02 commented on #55
Thanks for the fast reply!
I'm very new to git so I don't exactly understand in which folder I have to be or what commands come first.
I've only entered "git checkout HEAD~2"
Would you please describe it for a beginner?

[2016-12-20 06:32] euchkatzl commented on #55
@bk1285
I think the problem are my virtual buttons used for the remote control. We should try to add an opportunity to disable that.

[2016-12-20 18:12] euchkatzl commented on #55
Hey,
i got things working with a fresh install. There were several problems :

1. We have to correctly initialize GPIO with the correct state
2. Remote Control did cause the problem above when gpio_high was set

When you have no real buttons you have to set type = gpio_high !

Look at the following commit
b687aa1dadd7c0bb448f5da47dfef36cf9b7a58d

@bk1285 : Can you merge it back ?

[2016-12-20 19:37] euchkatzl commented on #27
@bk1285
f6a82d5b1428beb95e0b0bb857dce6a46558f2da
Finally i got it ;)

This Library must be uses to read out the sensor :
https://github.com/adafruit/Adafruit_Python_GPIO

[2016-12-20 23:39] bk1285 commented on #55
Hey! Could you please check the latest commit https://github.com/bk1285/rpi_wordclock/commit/73c285597c1241d7ca11b6e3ee1428edf71b926a

.... leaving the virtual interface enabled, since I like it a lot! ;)
... but many thanks @euchkatzl for helping out!!!

Please report back, if the fix works, since I can only partially verify with my own hardware-configuration.

[2016-12-21 07:11] Yoghurt02 commented on #55
Hey guys,

thanks a lot for your effort.
I will be able to check it tonight and I will let you know if it works!

[2016-12-21 08:15] bk1285 commented on #37
Please reooen, if the issue still exists.

[2016-12-21 08:15] #37 closed

[2016-12-21 16:19] Yoghurt02 commented on #55
Hey,
I've replaced the wordclock_interface.py with the one from 73c2855
Type is set to GPIO_High but it's still acting like Pin 17 is pressed.
Did I miss something?

[2016-12-21 16:58] Yoghurt02 commented on #55
Alright, now that I did all the changes from @euchkatzl it works!
Thank you so much guys!
I'm super happy.

[2016-12-22 05:46] Tihmann commented on #55
Tried the latest commit 73c2855. Still says Pin 17 pressed. What further changes do I need to do ?@bk1285 Could you merge back the changes from euchkatzl ?

[2016-12-22 07:39] euchkatzl commented on #55
The Problem is that you have to initialize the pins with the correct values.

Look at commit  a8cfde63a1f9593c2d8385f14d314036e5357932

`
GPIO.setup(self.button_left, GPIO.OUT)
GPIO.setup(self.button_return, GPIO.OUT)
GPIO.setup(self.button_right, GPIO.OUT)

GPIO.output(self.button_left, not self.alter_interface_state)
GPIO.output(self.button_return, not self.alter_interface_state)
GPIO.output(sel

[2016-12-22 16:32] Tihmann commented on #55
What are the other commits

b687aa1
0707f52
a8cfde6

for ? Do I need them as well ? I would like to use the clock without any buttons

[2016-12-23 06:52] euchkatzl commented on #55
The other commits are just for config changes so that you have not my bavarian config.

You can simply checkout my fork in another directory and then link Fontdemo.py again. Should work then.

Or you manually add the code lines above in wordclock_tools/wordclock_interface.py .

Or you can friendly ask @bk1285 if he can include this fix too

@bk1285 i don't know if its the right way to do this but

[2016-12-23 12:44] oxivanisher commented on #36
I was very busy the last weeks, but I will have a look at this the next week :+1:

[2016-12-23 15:55] Yoghurt02 opened #56 "Button functions"
Hey all,
I've now also added three buttons.
I've figured out that the left button changes the clock colors.
But what do the other buttons do?
How can I enter the other plugins like Matrix, temperature and so on?

[2016-12-23 16:27] Yoghurt02 commented on #56
I've seen that Pin 22 should change the plugin but after I've pressed it it always writes "Running plugin time_default".
In the config all the plugins are set true and in the startup it lists the plugins from 0 to 10.
Anybody an idea what is missing?

[2016-12-25 09:21] bk1285 commented on #56
Hm... Expect the wordclock to behave as outlined within this video: https://youtu.be/wcLQDykRBbM
Anything else would be wrong and strange... :/

Can you activate the color wheel by pressing the 3rd button?

Regards,
Bernd

[2016-12-25 09:22] bk1285 commented on #33
Please reopen in case of any further questions/issues.

[2016-12-25 09:22] #33 closed

[2016-12-27 08:32] Yoghurt02 commented on #56
Hi Bernd,
3rd Button is the "return" button, right?
It doesn't change the plugin. Sometimes the lights are flashing. If I press again, they stop.
If i check it in the command window, for each "return"-Button press it says "Running plugin time_default".
For me that means button press is recognized but it's not changing the plugin.

[2016-12-27 09:00] Tihmann commented on #55
@euchkatzl Just as a follow up. I checked out your fork. With that fork the wordclock is working perfectly. No more PIN pressed errors. @bk1285 Could you merge euchkatzl´s modifications into your git

[2016-12-31 15:18] bk1285 commented on #55
@euchkatzl @Tihmann @Yoghurt02

Hi all!

thanks for the input and feedback! So if I got it right, it's about adding a8cfde6?
If you confirm, I'll merge and them onto the master branch. For new and experimental stuff, I'll add a development branch. New things can be tested there, before they go to the master branch. ;)

Regards,
Bernd

[2016-12-31 15:20] bk1285 commented on #55
One of the first things to be tested on the dev-branch could be  a fix, allowing to enable the virtual buttons for gpio_low and (!) gpio_high :)

[2017-01-02 12:16] Tihmann commented on #55
@bk1285 Hi, I think the main issue is a8cfde6. However I did a fresh install from @euchkatzl 's fork. That fork is working without any problems

[2017-01-02 21:52] bk1285 commented on #36
Hey @oxivanisher

Found the dependency to be wrong...
Fix is here: f4bbcfebc22b9185c9de7d1502e8837ff00c5580

Please reopen, if the issue persists.

[2017-01-02 21:52] #36 closed

[2017-01-03 19:59] bk1285 commented on #56
Do you have besides the default plugin other plugins enabled? If so, you should be able to change between them.

Regards.

[2017-01-03 22:32] Tihmann opened #57 "Integrating a small webserver for control"
Iḿ trying to integrating a small webserver for control purposes. I used cherrypi for that purpose http://docs.cherrypy.org/en/latest/tutorials.html#tutorial-3-my-urls-have-parameters

I have the webserver running, now I am trying to control the wordclock to change some parameters, e.g. brightness using a webserver. Could you get some help ?

[2017-01-03 22:47] Yoghurt02 commented on #56
Yes. In the config file I have enabled all of them...

[2017-01-03 23:26] Tihmann commented on #57
https://github.com/euchkatzl/RaspberryWordclock-RemoteControl seems to be broken as WebIOPi  is not working any more @euchkatzl

[2017-01-04 19:20] bk1285 commented on #18
Refering to https://github.com/bk1285/rpi_wordclock/issues/57

... whats the best way to go? If we find a fix for the current master branch, which leaves the virtual pins enabled, we're done at first place.
In the long run we could probably consider something more advanced...

[2017-01-04 19:25] bk1285 commented on #18
Maybe we could also consider the work of @fecub which looks preety promissing...  https://github.com/fecub/rpi_wordclock/commits/remote_controller

;)

[2017-01-08 21:39] Tihmann commented on #18
How does @fecub modification work ? Is it setting up a server ? Tried to figure it out from the branch....

[2017-01-09 07:05] euchkatzl commented on #18
@Tihmann
Can you tell me why Web IO Pi is not working anymore ?

[2017-01-14 11:29] bk1285 commented on #53
Hi @Tihmann,

thanks for providing the file. So far I used this script https://github.com/bk1285/rpi_wordclock/blob/master/create_layout.py to create various layouts. Therefore, I'd prefer to create a new mode, which exclusively creates the position of the holes. With the script, you're ready to dynamically reproduce it for any kind of wiring (bernd, christian, etc....)

.... I'll give it a closer

[2017-01-14 11:45] bk1285 commented on #54
Done ;)
https://github.com/bk1285/rpi_wordclock/commit/af71b430a68b5076cfbfbb5eac8039ea90309b6a

[2017-01-14 11:45] #54 closed

[2017-02-04 15:37] bk1285 commented on #18
Last weekend, I found the time to team up with @mrksngl, who is giving lectures in multi-threading, event-handling, etc. As a result of 14hrs of hacking, the wordclock will soon be ready to take not only the buttons as input anymore... Great work, @mrksngl :)

Checkout https://github.com/bk1285/rpi_wordclock/tree/develop for further details or take a look at https://github.com/bk1285/rpi_wordclock

[2017-02-07 08:39] euchkatzl commented on #18
Hi @bk1285 ,

That is great work ! Thank you for that.
I've testet the socket connection with a litte Qt Programm. Seems to work fine !

But there is a little more work to do so that we can use it as Remote Control !

1. Add a command for Button press (e.g. sending  "BUTTON_PRESS" : 18)
    a.  I think that will not be the problem and very easy to implement
2. To work with any devices we need an w

[2017-02-07 09:21] fecub commented on #18
Hi @bk1285,

thank you Bernd. Thank you for this awesome clock project.
I wanted to report you, if I'm done with my work :) but you discovered me earlier :)

Ok what I have done:

-  as @Tihmann says. I set up an server and intergrated in the project.
- the remoting is working on main  menu, time_default and matrix plugins
- ... the other plugins need to modified for remoting
- I wanted the gpio b

[2017-02-07 09:42] mrksngl commented on #18
Hi @euchkatzl ,

1. I already implemented that, but did not push it so far. @bk1285 and I have to agree on some aspects beforehand.
2. I suppose it shouldn't be too hard to get this working. The new event interface accepts events from any thread, thus creating a thread hosting a webpage or doing IPC with an external webserver (i.e. outside the python script) should be managable. Anyway, I have to

[2017-02-07 09:50] mrksngl commented on #18
Little preview of my current work (yes, I emulated everything in here) (yes, GTK has some problems with umlauts): https://www-user.rhrk.uni-kl.de/~mengel/wclremote.webm

[2017-02-07 10:24] euchkatzl opened #59 "Remote Control Web Interface"
As explained here : https://github.com/bk1285/rpi_wordclock/issues/18
@bk1285  has implemented a new way to communicate with the wordclock (socket connection)

For the Remote Control to work we need another Web Interface which uses this socket connection

I would do this with node.js since apache will be a little bit oversized. This node.js Server can then by started with the wordclock. I think i

[2017-02-07 10:25] euchkatzl commented on #18
@bk1285 @mrksngl

I totally agree on the "bad design" points ! The solution now is a much better approach !

For App Developments i can help you since i'm am an app developer (iOS and Android) in my main job ;)

Video of the App looks great ! How did you get that simulated wordclock interface ? Can you explain that (perhaps in another ticket)

For the Android app you are right ! You can distribute

[2017-02-07 11:39] mrksngl commented on #18
@euchkatzl

Glad to hear we have an app expert:
1) I don't like GUI development at all (though I have to admit that android has some nice concepts and there is a really cool tool support in android studio)
2) I just started android development, so I read some guidelines (you know it: android is a beast) and realized the project "my own way". Especially data exchange between the network and the UI

[2017-02-07 12:03] fecub commented on #59
@euchkatzl
[https://github.com/fecub/rpi_wordclock/blob/remote_controller/wordclock_tools/wordclock_socket.py](wordclock_socket.py)
It runs on his own thread.
[code]

in wordclock.py, i've added this line, to init the socket
`self.wso = wso.wordclock_socket(self.config)`

passed object to a plugin over `run(wcd, wci, wso):`
and via `remote_event = wso.waitForEvent(0.5)` listening for request.

[co

[2017-02-07 12:07] euchkatzl commented on #59
@fecub
Yes this is the socket code for the wordclock ! But we need a external WebPage with interacts with the Wordclock over this Socket Connection (as a client). For this we need a Web Server to display that page.

Have you done that already ? Or how did you "talk" to your socket ?

[2017-02-07 12:07] mrksngl commented on #59
Hi @fecub
you should base your work on the current "development" branch, it will be merged to master eventually.

[2017-02-07 12:13] euchkatzl commented on #18
1. Yes Android is very easy for GUI things. Much better than iOS.
2. I can tell you that when i got a look at your Code. For me it would be nice to get an idea how to talk to the socket ;)

The better approach would be using PyQt for the simulated GUI. So it works also on non Linux Systems (maybe). But would be great if you could publish it ;)
Thank you !

[2017-02-07 14:28] fecub commented on #59
@euchkatzl
No I have don't created a Webpage. I've written only a very primitive small python client, which interacts with the running socket on the clock. For test purposes, not more. My consideration was to write a app which is sending the commands in a similar way. Hope I understand you correctly :)

[code]

@mrksngl
Ok i will take care of it.

[2017-02-07 20:42] bk1285 commented on #59
Hi all!
Wow! Very busy here today. Great to see all the discussion! :)
@euchkatzl I'd take webpy into consideration. Since we use python already to run the wordcock, I think this is a quite convenient way to setup a webserver and provide some webcontent (allowing templated html-files via Templator as well as css-styling, if needed).
I did already some tests with it. To avoid double work, you can t

[2017-02-08 07:42] euchkatzl commented on #59
Alright great ! Looking forward to see your work !

[2017-02-08 08:55] mrksngl commented on #59
@euchkatzl @bk1285 I pushed my work (changes on the clock and the app) to my github account.

Notes on the clock:
* It's possible, that my fork won't be merged over here, think of it as an "idea". And yeah, it's also possible that I force-push some changes, so for your own good: don't base your work on that :-)
 * It also changes the behaviour a bit: when a plugin exits, it won't start the default

[2017-02-09 12:29] euchkatzl commented on #59
@mrksngl
Your Android App is looking very good !
I have made some changes for the Thread <>  UI Communication. That would be my approach for that.
You can have a look at it here (https://github.com/euchkatzl/wordclock-android)

[2017-02-13 12:43] euchkatzl commented on #59
I have adopted @mrksngl emulator to work with OS X (perhaps also Windows). This is very usefull for developing stuff ;) Thank a lot for the idea @mrksngl  !! 👍

I think all you need to install is wxPython package via pip.

If anybody is interested check it out here : https://github.com/euchkatzl/rpi_wordclock/tree/develop

[2017-03-02 20:06] mblonski2015 commented on #59
Hey, I am just in the process of building a word clock and I am thinking of using hardware buttons or a web page or any other way to control the clock by phone.
I have done some other projects where I needed to control a python script by phone. I prefer UDP or TCP/IP connections and sending just the ASCII/text I need to take some action.
In order to prepare an easy GUI on a tablet or phone, I use

[2017-03-03 19:22] danielschmaltz opened #61 "Pin 17 always pressed"
I do not want to use Buttons, but when I set  type to gpio_high it does not make a difference.

Easiest Setup: Pi B+, no Buttons, Edimax Wifi and latest Jessie

It seems that the led stripe works fine, cause it is obviously going through all plugins...but all the time...

Any idea?
Thanks

[2017-03-04 08:38] bk1285 commented on #61
Hey @danielschmaltz

can you give it a try with the latest develop branch of the repository, reporting back, whether this works out?

`git checkout develop`

Regards,
Bernd

[2017-03-05 14:40] danielschmaltz commented on #61
Thanks Bernd, I tried the develop branch, but nothing changed. Now I  installed @euchkatzl 's fork and it works lika a charme. I guess theres a problem with the GPIO states.

Thanks for this repo.
Best, Daniel

[2017-03-05 14:41] #61 closed

[2017-03-07 05:47] Tihmann commented on #59
I'm using the version from the develop branch. Which android app is working with that branch? Has somebody an apk as download?

[2017-03-07 08:02] mrksngl commented on #59
There's no APK by now. As you said: It's the development branch ;)
Right now I'm quite busy with other projects, but at least @bk1285 and I thought about another Wordclock session in the near future. Hang on...

[2017-03-22 20:58] danielschmaltz opened #62 "Android App"
I copied @euchkatzl s fork and I also installed his Android App. Whenever I look for the host in the settings by entering the IP, the App does not find the Wordclock.
Is this App working already and does anybody have an idea for solving my problem?

Best, Daniel

[2017-03-25 17:20] mblonski2015 opened #63 "Plugin Sunset failed Import"
Hey,
I gave away my World Clock as a gift, but now I got the feedback, that the sunset is missing.
After I SSH'ed me to the pi and watched the startup, I do got the error, that sunset failed to import.
I downloaded the plugin again. renamed the folder and uploaded to the pi, but even the "new" plug in failed to be imported.
Is there any log or anything I should check? Honestly I have no clue where

[2017-03-28 09:33] mrksngl commented on #63
A good starting point is telling us at least something about the error, i.e. all the output of the python process.

[2017-03-28 09:38] mblonski2015 commented on #63
Hello,

thanks fort he feedback.
At startup is just says

„import Sunset failed“

I’m sorry, but I’ve produced it as a gift and as I handed it over I found out that the sunset is missing and unfortunately I don’t have access to it right now.

Since I re downloaded the plug-in and renamed the folder to sunset 2 and it comes up with the same error, I assume, that the plug in is fine. Do you know wha

[2017-03-30 19:21] #53 closed

[2017-03-30 19:25] bk1285 commented on #40
Hi @oxivanisher,
can you check, if an update of the third-party-dependency fixes your issue?:
https://github.com/jgarff/rpi_ws281x

Best,
Bernd

[2017-04-10 15:10] adamenatsky opened #64 "Exact Frame Size?"
Hi. I'm using a raspbery pi zero w and so far the software is running great but i'm having trouble finding out the exact measurements used for the LED framing. In the config file says the absolute size is listed at 450mm x 450mm with a 20mm margin from the edge of the stencil to the minute LEDs. I traced that out on some paper and noticed that those dimensions don't quite match up to what is shown

[2017-04-10 17:14] bk1285 commented on #64
Hi @adamenatsky,
the margin relates to the minute-LEDs. The stancil is 450x450mm. The actual display size is 300x300mm
All other measures (spacing between the letters) relate to that.

Regards,
Bernd

[2017-04-10 17:28] adamenatsky commented on #64
@bk1285 Cool thanks for the clarification. I'll take another try the layout.

[2017-04-10 17:28] #64 closed

[2017-05-04 14:31] euchkatzl commented on #59
Finally i have done an implementation with WebPy. So there is no need anymore for external dependencies like WebIOPI or other stuff.
Check it out here:
https://github.com/euchkatzl/rpi_wordclock/commit/104d78d0e70777eebed285d1a724bee8b0a2b4a1
(Develop Branch)

NOTE: This is still experimental an not tested on a real raspberry. I have only tested it on my local simulator. I will finish this due the

[2017-05-05 06:27] euchkatzl commented on #63
Did you install all dependencies ?
I think for the sunset Plugin you need :
`pip install astral`

When it is nor working either do the following:
Import traceback module
`import traceback`
add this in the in line 77 (before printing "Failed to import plugin") in wordclock.py :
`traceback.print_exc()`

Then you will get a more detailed error.

[2017-06-05 12:00] Carlos464 opened #65 "rasperry pi zero not compatible ?"
Hello,

I am trying to get the wordclock up and running with an raspberry pi zero, but that does not work. The software is running, but none of the LEDs is getting on.

The same config with an rpi2 is running fine.

Do I have to tweak the software?
Anyone else having these issues?

Thanks in advance.

Carlos

[2017-06-10 04:44] adamenatsky commented on #65
Hi Carlos. I have gotten the clock to start working on a pi zero w. A few possible bugs I noticed after tinkering are that I had to disable the opening message in the config file for the clock to start working, not sure why. Second issue I ran into was that the clock would only work when started from the cron at boot. When starting it manually from the command line the lights would just blink rand

[2017-06-12 11:18] Carlos464 commented on #65
Hi adamenatsky,

thanks for your reply.

Do you use the same GPIO Pins as mentioned in the docs?
The opening message is already deactivated and the program starts via cron at boot.

best regards
Carlos

[2017-06-12 11:56] adamenatsky commented on #65
Yes I followed Bernd's wiring and GPIO pin usage. My python skills are quite novice so I didn't want to mess around with the source code until I got comfortable with the device working in its normal state.

[2017-06-14 09:02] bk1285 commented on #65
Hi all, thanks for your input!

Find first reports and discussions on Pi0 here:
https://github.com/bk1285/rpi_wordclock/issues/44
Hope it helps you make the clock run.

Just in case you find out futher tricks, it's great, if you share them here.

Best,
Bernd

[2017-06-14 09:15] bk1285 commented on #65
Did you take this page into consideration: https://github.com/bk1285/rpi_wordclock/blob/master/docs/doc_troubleshooting.rst

... a disabled soundcard for only one of the two Pis might be an issue?

[2017-06-14 14:40] adamenatsky commented on #65
Hey Bernd I'm new this whole github community. Should I add any notes I posted here to he #44? Or is the link you put up good enough?

And yes I did look at the troubleshooting page early on. Only issue I ran into listed there was the GPIO Pin 17 thing. But that was cleared up quickly once I connected the buttons and LEDs.

Thanks for your all you work on this project! Its been fun getting it up a

[2017-06-14 20:53] Carlos464 commented on #65
Hi Bernd.
I just tried the suggestions from your link.
Still no luck.

Anyone any ideas?

best regards
Carlos

[2017-06-16 18:05] Carlos464 commented on #65
@adamenatsky

Can you do me a favor and post the output of

`gpio readall`

on your working raspberry pi zero.

Thanks in advance.

best regards
Carlos

[2017-06-18 20:51] standi01 opened #66 "Config file help"
Hi Bernd

Thanks for this clock, I have been looking at ways of making one for quite a while now then I found your project.

I have managed to make this clock although I used a 60 led per metre strip to create a smaller clock. I have set up the clock to run in English although some of the plugins are not working correctly.

I am having trouble with the config file. I will be honest and say I don't

[2017-06-19 00:21] stefancarlton commented on #66
have you checked permissions and ownership on the new file? Did you name it wordclock_config.cfg and keep it in the wordclock_config folder (https://github.com/bk1285/rpi_wordclock/blob/master/wordclock.py#L24)?

I created an English language version a while back, but simplified the config for my needs: https://github.com/stefancarlton/rpi_wordclock/blob/master/wordclock_config/  (the simplificati

[2017-06-19 14:22] adamenatsky commented on #65
@Carlos464 I will do so hopefully later this evening or tomorrow. I'm just now resoldering my buttons  in a permanant placement and will have the pi up and running then.

[2017-06-19 15:55] standi01 commented on #66
Hi Stefan Carlton

I have checked the config file. It's as it should be. All I did was copy the example config and removed example from the name. When I run the software it can't see it and uses the example one.

What do you mean by permissions and how do I check?

[2017-06-19 19:30] bk1285 commented on #66
Hey @standi01

here we go.... https://www.linux.com/learn/understanding-linux-file-permissions

Your config file should be named wordclock_config.cfg and should be readeable by root.
... to set the permission try to enter
chmod 777 wordclock_config.cfg

Please report back, if this resolved your issues...

Best,
Bernd

[2017-06-19 19:40] bk1285 commented on #63
Hi mblonski2015

please reopen, in case you still experience these issues and you can provide new information as proposed by @mrksngl and @euchkatzl

Best,
Bernd

[2017-06-19 19:40] #63 closed

[2017-06-19 19:43] bk1285 commented on #56
Please reopen, if necessary.

Best,
Bernd

[2017-06-19 19:43] #56 closed

[2017-06-19 19:44] #55 closed

[2017-06-19 20:14] standi01 commented on #66
Bernd

Thanks for the information​, I had a look at the file and have now managed to resolve the config issue.

Another quick question if I am allowed, I have  copied and edited the plugin for time in words German and changed the relevant values to English. I placed the folder in the plugins folder. How do I then install onto the clock to test.
I have changed the configuration file to read time_in

[2017-06-20 19:57] standi01 commented on #66
Basically my current state is I currently have the clock set up as Bernds files.
 I have changed the RSS feed and it displays English text. I have set the location up for the weather app with no main issues.
I can't get the sunrise plugin to display the times in English (tried adjusting the config to look in the english.py file of the default time folder. Fails to load plugin or reverts back to th

[2017-06-21 12:25] standi01 commented on #66
Running from my repository with my plugin config I get

Parsing /home/pi/rpi_wordclock/wordclock_config/wordclock_config.cfg
Setting up wordclock interface
/home/pi/rpi_wordclock/wordclock_tools/wordclock_interface.py:105: RuntimeWarning: This channel is already in use, continuing anyway.  Use GPIO.setwarnings(False) to disable warnings.
  GPIO.setup(self.virtual_button_left, GPIO.OUT)
/home/pi/rp

[2017-06-23 19:41] standi01 commented on #66
Found some errors in the code but still not 100%
When I run my version I get the following

pi@raspberrypi:~/rpi_wordclock1 $ sudo python wordclock.py
Parsing /home/pi/rpi_wordclock1/wordclock_config/wordclock_config.cfg
Setting up wordclock interface
/home/pi/rpi_wordclock1/wordclock_tools/wordclock_interface.py:105: RuntimeWarning: This channel is already in use, continuing anyway.  Use GPIO.set

[2017-06-24 09:08] #66 closed

[2017-06-24 10:19] standi01 commented on #66
Sorted it out. Sunrise, time matrix is now in English and I have added time in words English. New to Github so I don't know how to link/merge etc with the main project.
Now time to try to create my own plugins

[2017-06-24 11:58] bk1285 commented on #66
Great! :)

[2017-07-01 09:49] Carlos464 commented on #65
Hi all,

it's still not working with the rPi0.
Would love to get it up and running.

@adamenatsky
Any chance to upload a screen of the output of

`gpio readall`

best regards
Carlos

[2017-07-05 19:01] adamenatsky commented on #65
@Carlos464 Apologies for the delay. As I'm not good at soldering, I damaged some of the pixel connections while making permanent wiring placements and I am in the process of redoing them. I'll get your readall as soon as I can.

[2017-07-10 17:38] Carlos464 commented on #65
@adamenatsky

I started over from scratch and now it is working with the raspberry pi zero.
From smoke to smother. Now the rPi hangs randomly.
I will open a new thread.

best regards
Carlos

[2017-08-13 14:58] HeerNMeester commented on #27
I got your code working with the same sensor @euchkatzl. However with the typewriter plug-in, every time the ammount of LUX changes, the time is written again. Creating a very 'busy' clock. This forces me to disable the typewriter plug-in.

[2017-08-13 15:17] HeerNMeester commented on #24
I finished mine a few months ago but haven't shared my details.
I have 2 front panels. An brushed aluminium and a Corten Steel one, which I let a few weeks outside to rust. I got them from Geers Cutting in Germany. (thickness 1 mm) You do have to provide them with the correct files. I tried to convert the .eps file from the stencil creator but that is not converted correctly by all programs I have

[2017-08-27 22:25] SebVoss opened #67 "Alternatives Layout als deutsche Sprachvariante"
Hallo Bernd,

// SORRY, hat doch noch Bugs.

[2017-08-28 07:43] Arjan444 opened #68 "Dotstar instead of Neopixel"
I use the Adafruit Dotstar Leds.
Do these work with the (neopixel) ws281x library ?
Please advise.
Thanks, Arjan

[2017-08-29 13:48] coolio210 opened #69 "Farbwechsel"
Hallo,
ich kann leider nicht programmieren. Ich habe mir eine Wortuhr ohne Buttons nachgebaut. Diese funktioniert auch. Ich möchte aber nun, dass die LED-Farbe regelmäßig wechselt. Kann mir jemand sagen, in welcher .py-Datei ich was ändern muss, damit das funktioniert?
Danke im Voraus.

[2017-08-29 14:10] euchkatzl commented on #69
Wie oft soll das denn wechseln ? und in welche Farben soll es wechseln ?

[2017-08-29 16:50] coolio210 commented on #69
Am liebsten einmal durchs Regenbogenspektrum so langsam überfaden.
aber wenn das nicht geht, würden mir auch Farben wie rot, gelb, grün, orange, violett und blau reichen, die durchwechseln.

[2017-08-30 05:42] euchkatzl commented on #69
Den Effekt den du haben willst gibt es ja eigentlich schon (Drücken des Rechten Buttons)
Da du aber keine Buttons hast musst du eigentlich nur den Klick manuell auslösen.

Dazu änderst du folgende Datei (Die Änderungen sind im angehängten Zip):
~/wordclock_plugins/time_default/plugin.py

[plugin.zip](https://github.com/bk1285/rpi_wordclock/files/1262503/plugin.zip)

[2017-08-30 05:44] euchkatzl commented on #69
Ich würde aber an deiner Stelle auch mal versuchen die Remote Steuerung zum Laufen zu bekommen.

Dann kannst du den Effekt per Handy ein und ausschalten und auch die Uhr im vollen Umfang benutzen.

[2017-08-30 14:13] #68 closed

[2017-08-30 18:50] coolio210 commented on #69
hallo euchkatzl,
vielen Dank für Deine schnelle Reaktion und die Datei. Werde ich gleich mal ausprobieren.
Daß es auch eine Remote-Steuerung gibt, war mir gar nicht bekannt! Ist anscheinend völlig an mir vorbei gegangen. Hatte nur irgendwo gelesen, dass es mal als Erweiterung/Verbesserung vorgeschlagen wurde. Wusste nicht, dass es schon umgesetzt ist.
Das wäre ja noch viel geiler, wenn das funzen

[2017-08-30 20:01] bk1285 commented on #67
Hi SebVoss,

cool! Vielen Dank für den Input! Here we go:
https://github.com/bk1285/rpi_wordclock/commit/6b0a202bb4356f7912d3f82921336c36096b57cf

VG,
Bernd

2017-08-28 0:25 GMT+02:00 SebVoss <notifications@github.com>:

[2017-08-31 07:18] coolio210 commented on #69
Die Datei funktioniert leider nicht. Nach der Begrüßung "Hi all" läuft der Schriftzug "Error in time default" durch.

[2017-08-31 20:40] bk1285 commented on #24
Woohoo! Looks great, @HeerNMeester !!

[2017-09-01 05:49] euchkatzl commented on #69
Welchen Branch benutzt du denn ? Den Develop oder den Master ?

Blöde Frage aber du hast die Datei schon entpackt und die py Datei hinkopiert oder ?

Für Remote Control gibts es zwei Möglichkeiten :

1. Wenn du den Master Branch benutzt : https://github.com/euchkatzl/RaspberryWordclock-RemoteControl
2. Wenn du den Develop Branch benutzt kannst du mal meinen Fork probieren :

- https://github.com/e

[2017-09-01 16:10] coolio210 commented on #69
Hi,
ich habe die Version die ich vor ca. 1/4 Jahr von der Github Seite bei bk1285 heruntergeladen hatte => also Master Branch, oder?) . Eine Weboberfläche hat diese Version nicht.

Ja, ich habe die entpackte .py-Datei so wie von Dir oben beschrieben in das Plugin-Unterverzeichnis kopiert (die Originaldatei habe ich in einem anderen Unterverzeichnis gesichert).

Ich muss die Tage eh nochmal ran. Ic

[2017-09-07 20:09] coolio210 commented on #69
So,
ich habe jetzt noch mal alles neu gemacht (auch das Hardware-Wiring), eine komplette Neuinstallation des Betriebssystems auf dem Raspberry Pi 3 und habe die o.g. Datei durch Deine ersetzt.

ES LÄUFT !!!

Super!!!
Werde mich jetzt mal der Handysteuerungsvariante zuwenden. Vielen Dank für die Unterstützung !!!

[2017-09-20 00:20] c64emulator opened #70 "Adding new display: ELV ID200"
Hi,
I like this project!

Is it possible to use a ID100 or ID200  (see [https://www.elv.de/elv-info-display-id200-bausatz.html](https://www.elv.de/elv-info-display-id200-bausatz.html)) from ELV as display?

There is a docu of the interface of the ID100: [https://www.elv.de/Das-LED-Info-Display-selbst-programmieren-%E2%80%93-Demoanwendung-ID100/x.aspx/cid_726/detail_42347](https://www.elv.de/Das-LE

[2017-09-24 10:04] c64emulator opened #71 "Feature Request: Soundmodul as a plugin"
Hi,
may be it is possible to make a sound every hour?
Using a soundmodul like the MSM2 from ELV ([https://www.elv.de/mp3-sound-modul-msm-2-komplettbausatz.html](https://www.elv.de/mp3-sound-modul-msm-2-komplettbausatz.html)) it could be possible to use the sound of a cuckoo clock.
I'm not a programmer. I can't do that myself.
Would be a nice plugin.

[2017-10-01 15:23] DavaD85 opened #72 "Power supply"
Hi
I'm planning to buy the power supply for led strip and raspberry pi III, do you have idea about sizing? Di you have an example of power supply I need? Thanks

[2017-10-01 15:29] bk1285 commented on #72
Hi @DavaD85,

here we go:
http://astore.amazon.de/araspbepibase-21/detail/B00KETLBAU

http://astore.amazon.de/araspbepibase-21

Best regards,
Bernd

[2017-10-01 15:30] DavaD85 commented on #72
Great!! Thanks a lot I'll buy it and start soldering everything.

[2017-10-01 15:47] DavaD85 commented on #72
Docooler AC 100V ~ 240V a DC 5V 12A 60W Tensione Trasformatore Interruttore Alimentazione per Striscia LED https://www.amazon.it/dp/B01M0VFYUT/ref=cm_sw_r_cp_apa_mZq0zbFK46MB7

Can be this ok? I've the power not near the clock and with this I can attach a long cable, 60w 12a 5v

[2017-10-01 15:56] bk1285 commented on #72
Should be fine... :) Already with 10A, you can continuously run all 114 LEDs at full brightness. To show the current time, you need around 20-25 of them. Only some plugins require more LEDs (Tetris, etc...)

Best,
Bernd

[2017-10-01 16:12] DavaD85 commented on #72
Ok so finally I bought this

https://www.amazon.de/gp/aw/d/B00MWQF6M2/ref=mp_s_a_1_1?__mk_de_DE=ÅMÅZÕÑ&qid=1506874273&sr=8-1&pi=AC_SX236_SY340_FMwebp_QL65&keywords=lpv+100+5&dpPl=1&dpID=3167vJ9lKqL&ref=plSrch

I've to put it in a small box in the wall, I think this is perfect :)

[2017-10-07 09:44] ruedli commented on #72
I did not like the rather high current of the 5V supply.... So considering another approach: I will use "an old" 23V notebook adapter and use 5 stepdown convertors for the matrix and one for the PI.

So: then (if I use 90% efficiency, they even claim 97.5% but I do not believe that) the max current for all leds on in the matrix from the notebook power supply is **less than 2A.** I will try and use

[2017-10-20 19:57] Arjan444 opened #73 "Clock is stable for a while, but after a week or so...."
Dear All, I have a strange phenomenon. My Clock is completely build as described in this repository including level shifter, lots of extra VCC and GND wires to make sure there is enough grounding and voltage distributed over all LED stripes, 5V/10 Amp power source, resistor before the data hits the first led. Everything works like a charm, but then after a week or so I see strange colours appear a

[2017-10-21 13:54] bk1285 commented on #69
Ok, cool! Klingt gut :) Ich schließe dieses Issue dann jetzt einfach mal.

VG,
Bernd

[2017-10-21 13:54] #69 closed

[2017-10-21 14:04] bk1285 commented on #70
Hi @c64emulator,
thank you for your feedback on the project. I don't have the integration of ID100/200 on my agenda, but feel free to go for it: If you come up with a well-tested and robust solution, I'd happily integrate it to the project.
If you have any further comments on that topic, feel free to reopen this issue at any time.
Regards,
Bernd

[2017-10-21 14:04] #70 closed

[2017-10-21 14:10] bk1285 commented on #72
Hi @ruedli,
meanwhile, a huge amount of people built the raspberry-based wordclock, using the power supply, as proposed in the documentation of this project. Since I'm not an expert in electronic, I cannot comment on your plans in any way.

Regards,
Bernd

[2017-10-21 14:14] bk1285 commented on #73
Hi @Arjan444,
indeed, that's a strange thing. You're the first to report this kind of issue and I suspect the hardware causing this behavior. I currently don't have any idea, what could be the reason for this...
But feel free to upload some pictures of your wiring here, to get the discussion started.

Regards,
Bernd

[2017-10-21 14:21] bk1285 commented on #71
Hi @c64emulator,
thank you for the input. I leave the issue open. Maybe there'll be a wordclock-enthusiast, who reads about it and is ready to implement it.... Let's see ;)

Best,
Bernd

[2017-10-21 14:56] mrksngl commented on #73
I've seen similar things in another project, and it turned out to be a problem of the clock (but in that project I have a really fast update, i.e. clock speeds at the very upper limit of the strip) and especially the level shifter (one of them was too slow, the other one too weak). It should also be noted, that the strip I used had seperate clock and data wires, which can also introduce some more

[2017-10-21 16:36] Arjan444 commented on #73
Thank you mrks. The strip I use, uses separate clock and data wires. I think you confirm my suspicion that it had something to with the wiring. I use clips to connect the strips, and since they are  15 cm I have to curl/loop them a bit. And that may influence the clock signal.

For a level shifter I used the 74AHCT125 . With 'resistor before the Leds' I mean I a 470 Ohm resistor between the level

[2017-10-21 21:25] ruedli commented on #72
Hi Bernd,

Thanks for looking into it, I can understand your point. For that matter: I
am an electronic engineer, but the clock doesn't know that ;-)
I'll give it a try and see if it flies.

Regards,

Ruud

2017-10-21 16:10 GMT+02:00 Bernd Krolla <notifications@github.com>:

--
Ruud Rademaker
prefered mail: ruud.rademaker@gmail.com

[2017-11-03 00:22] bk1285 commented on #18
Hi all, just finished an experimental version of the webinterface: https://github.com/bk1285/rpi_wordclock/tree/feature/webpy
There are still some minor issues to fix, before I merge to develop, but maybe you want to give it a try (after installing web.py). Please note, that this currently requires the wordclock.py to be started within the directory, it's located in: /home/pi/rpi_wordclock.

Best,

[2017-11-09 06:53] Sauerland1973 commented on #18
Hallo Bernd,
habe dein Projekt noch ein wenig "verfeinert" ;-) Ich habe eine Matrix von 15 x 15 LED....
nun würde ich gerne auch das Web interface nutzen, allerdings bekomme ich diese Fehlermeldung:
File "/home/pi/rpi_wordclock/wordclock_interfaces/web_interface.py", line 1, in <module>
    import web
ImportError: No module named web

Was mache ich Falsch?
LG aus dem Sauerland

[2017-11-09 06:56] euchkatzl commented on #18
Du musst WebPy installieren :
http://webpy.org/install

[2017-11-09 06:57] Sauerland1973 commented on #18
Oh, das ging schnell, vielen Dank für die schnelle Antwort!
Ich werde es direkt mal ausprobieren ;-)
LG

[2017-12-14 00:52] Javi-es opened #75 "Another ways of control..."
Hello for all

Is possible to simulate the three buttons with a bash script or sending a JSON commands with curl? (I use the web_interface)

in example, with cron to change the brightness at night/day, or change the colors if the weather changes, start a ip plugin on new eth0 connection, etc..

Thanks a lot.

:-(  My wordclock has finished something thicker than normal.... It's like a box of aroun

[2017-12-17 23:50] plotaBot opened #76 "Have you accidentally removed the "type = gpio-low" attr. in [wordclock_interface]??"
After a long time not being actively watching the changes that have been made to this repository, I was exited to look whats new ;)
After a complete new installation I got this error by starting wordclock.py:

[code]

Obviously the ConfigParser could not find the option "type" in "wordclock_interface".
So please @bk1285 add it back to the config example. Its a pain in the...

After adding it manua

[2017-12-18 19:37] bk1285 commented on #76
I did.... : Thanks for reporting!! Fixed it!

[2017-12-18 19:37] #76 closed

[2017-12-20 20:51] bk1285 commented on #75
Yes, it is possible. I'll setup some docs on this...

Best,
Bernd

[2017-12-22 13:58] ruedli commented on #24
I noticed the STL files in the template directory and now I got a 3D printer (multi material) I was inspired to try this and take it a step further.

To summarize:
I now use three different! templates with transparent, printed characters. I can shift between them with servo's and show "english" or "dutch" or "round dots". When no frame is used, you see 16x33 mm lighted rectangles, great for playin

[2017-12-22 14:21] bk1285 commented on #24
Hi @ruedli,

looks great, excellent work! Easiest way to integrate the stl is to create a pull request to "develop", which I can merge afterwards.

Best,
Bernd

[2017-12-22 15:43] ruedli commented on #24
There is quite something to it, to reprint it you need over 400 .stl files. Many of them need to be sliced at the same time, because they come from "multi material"  model and need to be sliced in the proper position. The "B" for instance is a shape in the (black) template, filled with a transparent "B" and on top of the transparent "B" the inner two parts are modelled in black again. So... The ch

[2017-12-22 17:19] bk1285 commented on #24
Hi @ruedli,

nice! Short video to see the clock in action is highly welcome!! ;)

Best,
Bernd

[2017-12-22 20:02] ruedli commented on #24
Yes, will do that when the servo's are working and when I got the software
all in one piece ;-)

2017-12-22 18:19 GMT+01:00 Bernd Krolla <notifications@github.com>:

--
Ruud Rademaker
prefered mail: ruud.rademaker@gmail.com

[2017-12-27 12:19] ruedli commented on #24
I have created my own wiring sceme updating wiring.py, since I had glued my LED strips running n opposite direction. It now works and after small updates to reflect my specific templates the time displays correctly and and the plugins work.

I have the following questions: the numbers that are shown in the images of the of the "wordclock_layouts" (linke the wiring_front_bernds_wiring.pngand wiring

[2017-12-27 12:32] ruedli commented on #65
I installed jessi-lite (2017-11-29-raspbian-stretch-lite) on a "raspberry pi zero w" and found the clock would not compile, complaining about missing modules: freetype and monotic.

It showed:
Traceback (most recent call last):
  File "wordclock.py", line 8, in <module>
    import wordclock_tools.wordclock_display as wcd
  File "/home/pi/rpi_wordclock/wordclock_tools/wordclock_display.py", line 1,

[2017-12-27 12:57] ruedli commented on #72
So, the clock is running for two days on the mentioned small step-down convertors (less then 50 cents each).

I am now using 4: one for the pi and three for the strips. The strip ones serve each a separate part of the matrix:

- convertor 1 left 3x10 LEDS + the left minutes LED, so 32 LEDS in total.
- convertor 2 middle 4x10 LEDS, so 40 LEDS in total.
- convertor 3 right 3x10 LEDS + the right minu

[2018-01-01 18:52] ebarlas opened #77 "Broken Amazon Links"
I'm not able to view the Amazon links. Any suggestions?

![screen shot 2018-01-01 at 10 50 26 am](https://user-images.githubusercontent.com/221014/34470219-a789a308-eee1-11e7-8ff6-a7c0a60aed7a.png)

[2018-01-02 13:59] ruedli opened #78 "Support for multiple stencils, operated by servos"
My clock has three moveable stencils, that can be moved with servo's.

All is working now, and I have created a plugin to allow for choosing the template to use for time_default, sunrise and matrix_time.

You need to install and enable i2c support and import the ADAfruit_PCA9685 module.

I have:
- Added my wiring
- Added a stencil "dutch2"
- Added a stencil "english2"
- Added a plugin "stencil_cha

[2018-01-02 15:59] ruedli commented on #78
And... here is the video....

https://youtu.be/XTHH30S8Aao

With some pictures of the mechnism, Software, with a new plugin, is now fully functional, I intend to build a second row of 3 servos to the right, currently I only use 3 servos, one for each stencil.

![20180102_164620](https://user-images.githubusercontent.com/5008440/34489828-04fe9e74-efde-11e7-887a-520ccc810fdb.jpg)

![20180102_164641]

[2018-01-02 16:11] ruedli commented on #24
So... ITS WORKING... yesss, so pleased with the result...

Here is the video: https://youtu.be/XTHH30S8Aao

I have created a new "issue" to assist with merging the new plugin in the framework. I built in the support for servo switching in the existing classes for setting the time, this was needed to allow the core time software of the clock to switch between languages.

The change was done very cl

[2018-01-03 11:09] bk1285 commented on #78
Hi @ruedli, really nice clock! Thanks for sharing!!

....definitely a strong candidate for the gallery (...to come...)

[2018-01-03 11:15] bk1285 commented on #77
Indeed... :/

However, to a certain extend: 3rd party issue without any chance to get the page back, I fear....

So you need a list of components, right?

Best,
Bernd

[2018-01-03 16:28] ebarlas commented on #77
Yes, that's right. The list under general considerations is excellent, but specific parts would be very useful as well.

[2018-01-04 08:26] ruedli commented on #78
Hi Bernd,

As mentioned, I have the code managed under git here on my PC, how do you
want to proceed now?

Leave it on my PC only?
-or-
Review the changes and merge it with your code repository?

I set it up in such a manner, that it does not break the functions for
people not having servos to operate the stencils. At the same time, people
who swap their stencil manually, with magnets e.g. could b

[2018-01-04 10:50] #65 closed

[2018-01-04 10:51] #18 closed

[2018-01-04 10:52] #40 closed

[2018-01-04 10:53] #67 closed

[2018-01-04 10:53] #72 closed

[2018-01-04 11:06] bk1285 commented on #78
Hi @ruedli,

please create a [pull request](https://help.github.com/articles/about-pull-requests/) to "develop".

Then we can discuss changes in detail and decide, whether to integrate the soures (and documentation) into develop (preferred!) or leave it on a separate branch.

Best,
Bernd

[2018-01-04 11:17] oxivanisher commented on #40
I am sorry to have forgotten to check this. Yes, it fixed my clock AFAIK. Since i have some dead LEDs, I am still waiting for replacements and can not do a "live" check, but I believe the closing of the issue fine.

[2018-01-04 11:24] bk1285 commented on #40
Ok, cool. Please reopen in case of recurrence...

[2018-01-04 18:36] ruedli commented on #78
Hi Bernd,

Sorry I feel like an idiot, but despite more then 15 years experience
selling configuration management solutions, I do not succeed in uploading
the delta's to the files...

When I create the pull request and "drag-and-drop'.py files, I get a file
type not supported. I never see a directory tree, where I would expect to
be able to upload individual files.

Finally, I did not base my deve

[2018-01-18 17:30] bk1285 commented on #73
@Arjan444
if the issue reappears, feel free to reopen at any time.

[2018-01-18 17:30] #73 closed

[2018-01-18 17:35] Arjan444 commented on #73
Thanks Bernd. Stable since I replaced the leds with Neopixels.

[2018-02-02 16:16] Ch4r0s opened #80 "Q: Wiring "up-down-up", - why?"
Hi,
first at all, thanks for your code. But why did you wire the up-down-style and not from left to right and back? So you have to calculate more than needed.

Greatings

[2018-02-02 16:59] dennisj03 opened #81 "I've wired my leds false way"
Hello, i wired my leds the False way, and now the " IT IS" is not in the upper left corner it is in the upper right corner. Can i change the code so that it fits my wiring or do i need to change everything?

[2018-02-02 18:15] Ch4r0s commented on #81
Hi,
I've also wired my clock a different way (but I wanted so^^). You just have to add a "wiring" class in "./wordclock_tools/wiring.py"

If you like to, you can show me a pic of your wiring and I create your snippet.

greatz

[2018-02-02 18:45] bk1285 commented on #80
Hi @Ch4r0s,
the chosen style worked best for the given spacing of the stancil, I had. But feel free to use a horizontal style, if it fits your needs. I think "Christians wiring" uses a horizontal layout.

Best,
Bernd

[2018-02-02 18:45] #80 closed

[2018-02-05 14:40] dennisj03 commented on #81
Hello,
My wiring looks like this:

![unbenannt](https://user-images.githubusercontent.com/36080704/35810089-d98c8b6c-0a8a-11e8-9e9c-bbf0e237cd63.png)

[2018-02-05 14:49] bk1285 commented on #81
Front or back-view? "It is...." is top right or top left?

[2018-02-05 14:50] dennisj03 commented on #81
this is the view from the back. The Raspberry pi is top left

2018-02-05 15:49 GMT+01:00 Bernd Krolla <notifications@github.com>:

[2018-02-06 20:43] Ch4r0s commented on #81
Try this:
add to your wordclock_tools/wiring.py:
at top in the "if-elfif-cases":

[code]

and as new class:
[code]
can't test it right now, pls give feedback

[2018-02-07 17:01] spintike opened #82 "Wordclock without changing colors"
Hello Bernd!
![dsc05458](https://user-images.githubusercontent.com/34159967/35929896-dad5d9f4-0c30-11e8-9a9c-6d90e6596b72.JPG)

I have successfully built a wordclock on my own - except for the excellent software you've provided!

Now to be honest I'm a bit unsatisfied with my own wordclock changing the colors (as you can see on the attached pictures). The question at hand would be if there's a sli

[2018-02-07 18:32] bk1285 commented on #82
Hi @spintike

Nice build! Do you have buttons attached to the clock?

Please check your wordclock config for this setting:
[wordclock_interface]
type = gpio_low

... and try with set to "gpio_high"

Best,
Bernd

[2018-02-07 18:55] bk1285 commented on #82
PS: Hope you don't mind, if I add your swabian clock to the "Hall of fame": https://www.pinterest.de/berndkrolla/wordclock-gallery/
;)

[2018-02-08 07:43] spintike commented on #82
That's fine for me @bk1285 :-)

Unfortunately this is not what I meant with my original post.

Right now I have no buttons attached to the clock. It's just that it's changing the LED colors from time to time and I want to get rid of it - I want to state that its a fine piece of code to achieve this function but in my case it's just not needed...

[2018-02-08 17:32] bk1285 commented on #82
Hi,

so if you have no buttons attached, you need to set

[wordclock_interface]
type = gpio_high

Please let me know, if this does not resolve the issue. In this case it's probably a major issue......

[2018-02-10 19:53] dennisj03 commented on #81
hello,
i am not able to test this for another 1 and a halv week, but i will answer soon

[2018-02-13 22:11] Bluetex07 opened #83 "Software Problem"
Is there any more detailed part of what and how i have to install this to the rasp?

Tried it but i can´t figure out what files i need, is there a chance you could give a short summary?

[2018-02-15 20:05] spintike commented on #82
Hi again!

Sorry for answering so late!

The GPIO setting did the trick, now everything is as wanted 👍

[2018-02-15 20:05] #82 closed

[2018-02-15 20:10] spintike commented on #83
Hello @Bluetex07!

If I may comment on this in a short manner: I assume that you're having the RPi already set up and working right?

Please have a look on the [software setup page](http://rpi-wordclock.readthedocs.io/en/latest/doc_software_setup.html). There you'll find all the things needed for installing the wordclock software on your RPi.

[2018-02-15 20:35] spintike opened #84 "question regarding german "quarter to x" or "three quarters x""
Hello!

This part is quite tricky to explain in english but I'll try anyway.

There are regions in Germany where it's common sense to say "it's quarter before six" for 17:45. And then there are regions where they say "three quarter six" which is essentially the same.
The original german layout of the wordclock however is made to meet the first saying. This also means that the original layout conta

[2018-02-15 22:14] bk1285 commented on #84
Hey @spintike,

within the config file you can specify, which time the time_default plugin loads. According to the config, you have to pick the corresponding file to edit here: https://github.com/bk1285/rpi_wordclock/tree/master/wordclock_plugins/time_default

Best,
Bernd

[2018-02-15 23:52] Bluetex07 commented on #83
I understand the Setup, but there was also a link to download the clock files with many folders in it.Do i need this or is it the same like the Command to download clock Software?

[2018-02-16 08:40] spintike commented on #83
@Bluetex07 please specify what you mean by that.

[2018-02-17 20:42] spintike commented on #84
YES! It's working as I want to have it 👍 thanks @bk1285!

[2018-02-19 13:20] thejoe8495 opened #85 "DMA 5 Problem with SD Card on Pi Zero and Pi3"
There is an SDCard issue on the new Pis. The DMA5 is used to access the SDCard when you start the Wordclock the pi will eject the SD Card and crash.
Please change
https://github.com/bk1285/rpi_wordclock/blob/f61f8f3c674cd7c9393905a19ed8d397ecd7ca9d/wordclock_tools/wiring.py#L22
to DMA 10

For more information:
https://github.com/jgarff/rpi_ws281x/issues/188

[2018-02-19 21:11] bk1285 commented on #85
Hi @thejoe8495
excellent! Thanks for reporting! I already ran into the issue, but wasn't able to track it down...
Best,
Bernd

[2018-02-19 21:15] bk1285 commented on #84
Hi @spintike,
was the issue related to your stancil layout or is it a software bug? In the latter case, I'd be great, if you'd provide some details, how you fixed it.
Best,
Bernd

[2018-02-19 21:40] bk1285 commented on #85
@thejoe8495 can you provide feedback, if it works with the latest master?

[2018-02-19 22:28] thejoe8495 commented on #85
Yes it work on my pi zero, for the pi3 i need to wait my octopi finished with printing :wink:

[2018-02-20 06:46] spintike commented on #84
It was only a configuration issue @bk1285.

I just have to change the formula where the program calculates the minutes in [https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_plugins/time_default/time_german.py](url), line 39. The original setting '4' meant that only when it's twenty past an hour it shows the next hour...I changed it to '2' and afterwards it's working fine :+1:

[2018-02-21 06:59] #84 closed

[2018-02-21 21:07] FrankX0 commented on #81
Somewhat related to this question: is it possible to leave out the minute LEDs?

[2018-02-24 13:41] bk1285 commented on #85
Please reopen, in case it does not work with the Pi3.

Best,
Bernd

[2018-02-24 13:41] #85 closed

[2018-03-02 07:17] TSTr06 commented on #83
Hey there,
first of all thanks for this great software!
I built a wordclock with bernds wiring and the german version is working fine.
Now I want to change the language to swabian with the german2 stencil.
But the according changes in the config file have no effect on the shining LEDs and I always get the error: "Could not detect german2 / swabian". Instead the german version gets automatically ch

[2018-03-02 16:40] bk1285 commented on #83
Hi,
please ensure the correct wording in the config file: german2 OR swabian.
Check here for the available options/spellings: https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_plugins/time_default/plugin.py#L39

Best,
Bernd

[2018-03-02 17:49] TSTr06 commented on #83
Hey,
thanks for your answer. It's clear that I can choose only one language. What I wanted to say is that neither german2 NOR swabian is working. Instead I get the error "Could not detect swabian" respectively "Could not detect german2" and in the next line "Choosing default german".

My next question concerns the stencils. Is every german language (especially german, german2, swabian) compatible

[2018-03-02 20:42] bk1285 opened #86 "Fails to select language according to config file"
Originates from issue: #83  @TSTr06

Hey,
thanks for your answer. It's clear that I can choose only one language. What I wanted to say is that neither german2 NOR swabian is working. Instead I get the error "Could not detect swabian" respectively "Could not detect german2" and in the next line "Choosing default german".

My next question concerns the stencils. Is every german language (especially

[2018-03-02 20:47] bk1285 commented on #83
@TSTr06: Let's discuss in #86 since it's indeed a bug (which is unrelated to the request, opened by Bluetex07)

[2018-03-03 22:33] bk1285 commented on #86
Hi @TSTr06,
can you check, if the latest develop branch fixes your issue?

Best,
Bernd

[2018-03-07 17:31] TSTr06 commented on #86
Hey bk1285,

I tried your proposal and now I get this error:

Failed to import plugin time_default!
Could not detect language: swabian.
Choosing default: german
Imported plugin 6: "sunrise".
Imported plugin 7: "ip_address".
Imported plugin 8: "shutdown".
Imported plugin 9: "feed_parser".
Imported plugin 10: "restart".
Setting up wordclock socket
Traceback (most recent call last):
  File "wordclock

[2018-03-11 12:02] pizzajt opened #87 "Wordclock lost the 11 letters"
First: Many thanks to the Great work and a wonderful wordclock!

It Looks great.

Since the last days my wordclock lost the last 11 letters and the last 2 dots in the Strippe.

So the word „ES“ is missing.
I used Strandtest, it stops after „GRE“

The clock worked Fine the last year an I didn‘t change anything.

[2018-03-11 12:22] pizzajt commented on #87
https://photos.app.goo.gl/nZc4WdQaYKL7z3ah2

[2018-03-11 12:23] bk1285 commented on #87
Hey @pizzajt,
I'd guess, it's a hardware issue: Check the soldering at the point, where the 11 letters "get lost".
Possibly, you have to renew the solderimg or replace some defect LEDs at that point.

Best,
Bernd

[2018-03-11 12:29] bk1285 commented on #86
Strange.... Unfortunately I could not reproduce it after the provided fix: Works now on my clock....

[2018-03-11 12:41] pizzajt commented on #87
Hi Bernd.

Are you shure this will be a hardware issue?

At this Point there is no soldering, i use 1 strip per coloumn.

So i have to cut the strip and will change the led „S“.

Many thanks!

[2018-03-11 15:34] pizzajt commented on #87
I changed the LED - everything is working fine!
Here you can find some pictures of my „making of“:

https://photos.app.goo.gl/oGf6EfMomIlovqdL2

[2018-03-11 15:48] pizzajt commented on #87
I ordered the Front Panel at

LTO GmbH
eMail: info@lto-gmbh.de

Frontplatte
Typ: DXF-Import
Material: Stahl DC01
Materialdicke: 1mm
Oberfläche: matt
Datei: wiring_front_JT7.dxf
Interne Datei: dxf_57e11e69d6308.dxf

23,94 €

[2018-03-11 18:42] bk1285 commented on #87
Great, good to know!
...and thanks for the feedback. I'll add the images to the wordclock gallery on pinterest, if you don't mind... ;)

[2018-03-11 18:42] #87 closed

[2018-03-12 20:35] bk1285 commented on #86
Which python version are you running? Works on my Pi with python 2.7.3

[2018-03-13 12:11] TSTr06 commented on #86
I'm using python 2.7.13

[2018-03-15 13:45] BjornHoorelbeke commented on #77
Great project!! I would also be interested in which components to order, can you please provide a list?

[2018-04-16 10:25] spintike opened #88 "Append "S" to EIN (in case of "EIN UHR") - How to deactivate"
Hello @bk1285

I'm struggling with the S being appended to EIN when the wordclock is showing a time where one ("EIN") is occuring.
I already deactivated the lines in time_as_words_german.py corresponding to the appending of "S" but after saving the file it's still showing on my watch.

Problem ist that I'm using a custom layout (see screenshot) and the character which was originally assigend to th

[2018-04-25 19:41] bk1285 commented on #88
Meanwhile any progress? I see the "S" and the "H" to be problematic?

However, a swabian layout is already available here: https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_plugins/time_default/time_swabian.py

... you can select it within the wordclock_config.cfg.

Maybe that helps?

Best,
Bernd

[2018-04-25 19:56] bk1285 commented on #77
Here we go...:

- The LEDs: https://www.ebay.de/itm/5m-150-RGB-LED-Strip-Stripe-schwarz-mit-WS2812B-5050-SMD-WS2812-30-LEDs-m-T9-/122407573083?hash=item1c800f565b
  - Ensure, that the spacing fits your clock size (letter spacing)
- A Raspberry Pi + SD-card
  - E.g. RPi0 with Wifi is a nice choice
- A power supply: https://www.amazon.de/gp/product/B01NAN9QUD/ref=oh_aui_detailpage_o03_s00?ie=UTF8&ps

[2018-04-25 19:56] #77 closed

[2018-04-25 20:05] #83 closed

[2018-04-25 20:10] bk1285 commented on #81
Hi @FrankX0,
in which sense? Having them available, but switched off? ... or even not having the leds built-in?

From the software, they are addressed here: https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_tools/wordclock_display.py#L191

Best,
Bernd

[2018-04-25 20:13] bk1285 commented on #62
Hi @danielschmaltz,
possibly talk to @mrksngl or check his repositories.

Alternatively, there's a webinterface to come (checkout the according branch within this repository -- while it's still highly experimental)

[2018-04-25 20:13] #62 closed

[2018-04-25 20:17] bk1285 commented on #75
Hi @Javi-es,
FYI: There's a branch for a remote control via webinterface within this repository. It uses JSON, while still beeing highly experimental....

[2018-04-25 20:19] bk1285 commented on #75
... here the branch: https://github.com/bk1285/rpi_wordclock/tree/feature/webinterface

[2018-04-25 20:36] bk1285 commented on #75
... when running it, you can access the wordclock via http:
http://192.168.X.Y
http://192.168.X.Y/list
http://192.168.X.Y/active

Using POST, you can also set the current plugin: http://192.168.X.Y/api

[2018-04-26 14:13] Bluetex07 opened #89 "Display PNG File"
I want to display a simple PNG file on the Clock.

Do I Need to add a Plugin with the code to show a specific png or can i add an empty plugin and put my file in the Icon folder?

Only want to display a png,no further function required.

Maybe you can provide a plugin where we can put a png file?

[2018-04-26 20:12] FrankX0 commented on #81
Thanks Bernd!
I was planning a clock face without the minute LEDs.
But ended up anyway with them in.
I am building a smaller version (22 x 22 cm) with 60 LEDs/m strings.
Looking forward to get it to work in the coming days.
Thanks for this nice project!

[2018-04-27 20:33] Bluetex07 commented on #81
Did you test the code? I also have the problem that Es ist is Now displayed mirrored in the Upper Left corner.

I used bernds wiring but forgot that i have to mirror this as im using it on the back which will be mirrored onto the MDF Plate

[2018-05-10 21:07] FrankX0 commented on #89
Is this what you are looking for:
https://github.com/FrankX0/rpi_wordclock/commit/ba9715a3065a851f3d946dd1a2a94e73c1c19c00
This plugin will just display the logo.png file in the icons folder of the plugin.

[2018-05-14 18:29] schweizschweiz opened #91 "Import Error: No module named neopixel"
Hi There,

I just downloaded the software and then tried to start the wordclock I get an Error Messsage (see the Attachement).
I already formatted my sd card and tried it again. Same error message.
it's confusing cuz i already had the software running until i decided to reinstall it because i sometimes got an error and the clock stoped.

did something change the software? Is it possible to downloa

[2018-05-14 21:47] schweizschweiz commented on #91
i think the mistake happens when i enter

`git clone https://github.com/jgarff/rpi_ws281x.git`

maybe the libary has been updatet?

`cd rpi_ws281x`
`sudo scons`
`cd ~/rpi_ws281x/python`
And then when i enter `sudo python setup.py install` it says

as Herr Krolla mentioned in his manual it's possible to use a libary which is more likely to work

i dont understand what kind of command i have to hit

[2018-05-15 16:02] schweizschweiz commented on #91
okay never mind. I did find a solution
for anyone that may have the same Problem here's what I did.
I thougt that maybe the libary was not installed correctly (obviously).  I deleted the whole driectory

with `rm -rf rpi_ws281x/` and then followed Herr Krollas manual from the beginning until `git clone https://github.com/jgarff/rpi_ws281x.git`.
then i used `sudo pip install rpi_ws281x` to install

[2018-05-15 16:30] #91 closed

[2018-05-15 19:09] bk1285 commented on #89
Nice, @FrankX0! :)

[2018-05-15 19:09] #89 closed

[2018-05-16 18:13] schweizschweiz opened #92 "Error in time_plugin"
Is anybody else facing a mistake when setting up a static IP?
As soon as I set up the static IP I can't use the right button which lets the clock starts switching coulours continuously.
As soon as I press the button the red Cross appears and the clock shows error in time_default

Has Anyone an idea what's happening?

[2018-05-27 16:27] FrankX0 commented on #75
When will you release this functionality?
Very useful!

One issue to resolve though: some (e.g. Tetris, Sunrise, Time as words) plugins are executed again when switching to a new plugin.
So:

- Select plugin Tetris
- Plugin is executed, wait for it to finish
- Select a different plugin
- Tetris is executed again, followed by the execution of the newly selected plugin

Could not yet find why this h

[2018-05-27 21:28] bk1285 commented on #75
Hi @FrankX0, the issue, which you mentioned is the reason not to release it yet. Hope to fix this soon.
@mrksngl: time for another wordclock session... :D

[2018-06-10 12:30] bk1285 commented on #75
Hi @FrankX0,

checkout the latest develop: https://github.com/bk1285/rpi_wordclock/tree/develop
I improved the webinterface and event handling, which should work now without the bug, described above.

I'm happy to receive feedback in order to merge to master one day... ;)

Best,
Bernd

[2018-06-10 12:35] bk1285 commented on #92
Hi @schweizschweiz

very strange. You can comment the try/except clause in wordclock.py to get more details: L115-122. Only L117 is relevant in this case.

Start the clock afterwards via ssh and check the log to the console.

[2018-06-10 15:29] FrankX0 commented on #75
Hi Bernd.

I will give it a try, thanks!

One related question.
I would like to be able to set the colour through the web interface.
How can I change the value of `word_color` in the time_default plugin from web_interface.py?

[2018-06-15 08:20] spintike commented on #27
@euchkatzl Thanks a lot for the input you've given so far. I tried to implement your solution into my working example (by copying 'plugin.py' from your commit over my already working one) but I'm always receiving an error when running the script:

![wordclock_error_message](https://user-images.githubusercontent.com/34159967/41457949-88fef9bc-7085-11e8-914a-a71ba9755eb3.png)

Any idea how I can deb

[2018-06-16 17:41] FrankX0 commented on #75
Hi Bernd,

I gave it a try: works fine!
One remark: I added a `return("OK")` at the end of `@web_interface.app.route('/api', methods=['POST'])`, to prevent errors (_View function did not return a response_).

[2018-06-16 22:29] bk1285 commented on #75
That's great news, @FrankXO!

I plan to provide an interface for setting colors, as well.... ;)

Best,
Bernd

[2018-06-17 08:38] FrankX0 commented on #75
That would be great!
I am currently working on a new front-end, using your web-interface.
I can currently select the plugin and have the buttons available for setting the colors and playing Tetris :-) For that I extended your web interface to also be able to introduce button actions.
Can you extend the web interface such that we can freely set the color (RGB) of each clock element separately (word

[2018-07-07 23:56] JonahPi opened #93 "How to address web socket correctly"
Hi all, I'd like to use the web-socket to control the wordclock from Node-Red but I don't know how to address it correctly. I see that my connection request reaches the Raspberry but the connection is immediately terminated without any error message. From the client side I get the message: "ws:undefined : Error: not opened". As URL I use "ws://192.168.0.58:8081". Beside this I also don't know exac

[2018-07-08 07:56] bk1285 commented on #93
Hi @JonahPi
this is currently a bit experimental. Best practice would be to use the version on feature/refactoring branch
The according interfaces are listed here: https://github.com/bk1285/rpi_wordclock/blob/feature/refactoring/wordclock_interfaces/web_interface.py
* "/set/something"
* "/get/something"
Example, how it's used is here https://github.com/bk1285/rpi_wordclock/blob/feature/refactoring

[2018-07-08 22:10] JonahPi commented on #93
Hi Bernd
Unfortunately that doesn't help me much since I am a beginner in terms of python programming.
Not sure if you know Node-Red but it makes it usually pretty easy to connect to Websocket, you have Web-socket client node (which I configured to connect to ws://192.168.0.58:8081) and then you use an inject node for the payload (I selected to inject a JSON formated payload )
However the file wor

[2018-07-16 21:01] crob11 opened #94 "Buttons"
Hallo Bernd,

ich habe die Wordclock nach Anleitung gebaut inkl. den 3 Buttons. Auch der Autostart wurde eingepflegt. Den Code habe ich nicht verändert.

Zum Problem:
Die Buttons hatten beim ersten Start sogar mal funktioniert (konnte verschiedene Farben wechseln etc.). Nach Trennen der Stromzufuhr und wiederverbinden funktionieren die Buttons nicht mehr (keine Funktion) und die Wordclock arbeitet

[2018-07-26 17:51] schweizschweiz commented on #92
I didn't have time to work on the issue yet (other projects are more interesting to work on). Next weekend or so, i will have time and try to figure it out. sorry

[2018-07-26 18:58] schweizschweiz commented on #94
Auch mit einem Multimeter gemessen?

[2018-07-28 21:06] crob11 commented on #94
Falls du die Spannung über den Button meinst,... ja.
An den Buttons liegen jeweils 3,3V an (kommt ja ausm GPIO und müsste passen)

[2018-08-01 19:03] schweizschweiz commented on #94
Und die Spannung fällt auch auf 0v wenn du einen gedrückt hältst? Also es klingt ja eher nach Hardware als Software Fehler oder nicht?

[2018-08-03 19:55] schweizschweiz commented on #92
So I didn't exactly get what Bernd mentioned. So what did I do? As stupid as I am I just whiped the pi and reinstalled the whole software. I have set up the static IP again and?
Nothing. It just works like it's supposed to do.
I'm sorry I can't give a more detailed answer but hey, it works now 🤷

[2018-08-03 19:55] #92 closed

[2018-08-06 19:09] schweizschweiz opened #95 "Raspberry SSH, easy way to controll Wordclock via Smartphone"
for an easy way to control the wordclock via you Smartphone i suggest using "Raspberry SSH"
I added 3 simple python scripts for that purpose.

enter `nano mitte.py` in the shell and type this code for the middle Button
![script](https://user-images.githubusercontent.com/39277366/43735413-d54f89ae-99ba-11e8-9362-8d3f4fadc2b0.PNG)

repeat this for the other 2 buttons, just change the GPIO number.

i

[2018-08-10 23:12] #95 closed

[2018-08-17 23:53] webdisaster commented on #81
Have a diferent wiring, so signs can use bigger front
![anschlussplan](https://user-images.githubusercontent.com/40912228/44293052-069d6e00-a289-11e8-8f1b-a24b8a7eb09a.png) 4 Leds are at the end of the string. Leds are not mirrored because they are on a pcb. had not found out ,how your programming has done so how can i  make a own wiring file?

[2018-08-20 20:43] PCABG opened #96 "False Indentation in wordclock.py - master?"
Hi there
I'm not completely sure if it's an error or if I just did something wrong:
I set up the clock without buttons - and set the GPIO to high according to the guidelines, tried to only load the default time plugin, yet the clock only showed the menu-clock

Stepping through it I noticed that the program skipped lines 133-135 due to the additional indentation,
I removed the indent to a level to

[2018-08-22 08:31] bk1285 commented on #96
Hi @PCABG thanks for reporting. Can you check latest master for correct functionality?

Best,
Bernd

https://github.com/bk1285/rpi_wordclock/commit/93e33c75bf05471f779dadebef83ccb3f0273a93

[2018-09-16 23:08] bk1285 commented on #94
Hi @crob11

klingt für mich ebenfalls nach HW-Fehler... Ggf. einfach mal den develop-branch ohne HW-buttons (via webinterface) testen.

Best,
Bernd

[2018-09-16 23:30] bk1285 commented on #75
Hi @FrankX0

checkout -- once again -- latest develop: I just released a new version of the wordclock-api with the option to set colors as well as some documentation.

Best,
Bernd

[2018-09-16 23:33] bk1285 commented on #59
...checkout latest develop: I just released a new version of the wordclock-api. Testing + feedback welcome.

[2018-09-16 23:33] #59 closed

[2018-09-17 06:51] FrankX0 commented on #75
Hi Bernd. Thanks!
I will certainly give it a try.

[2018-09-17 20:49] #96 closed

[2018-09-20 06:54] FrankX0 commented on #94
This certainly sounds like a hardware issue.
This might be introduced by a noisy power-supply. Some of the (cheap) Chinese power supplies for LED applications produce a lot of noise, which in my case e.g. led to flickering of the LED's during operation.

Can you share your wiring diagram and maybe pictures?

[2018-09-20 20:11] FrankX0 commented on #75
Hi Bernd.

I now have some hand-on experience with the new API: GREAT!
I had to do some porting for my clock control web interface. For that the API documentation worked really well!
Some feedback:
- I found out that I had to use the [develop](https://github.com/jgarff/rpi_ws281x/tree/dev) version of the NeoPixel library.
- With this new implementation the red and green colours are swapped, result

[2018-09-21 13:09] bk1285 commented on #75
Hey @FrankX0,

that's great news! The web interface looks really nice!!

If I find the time, I'll expand the API to set the color elementwise (words, minutes, background).

Best,
Bernd

[2018-09-21 14:36] FrankX0 commented on #75
Hi Bernd,

What about the swapping of green and red I am facing?
I thought it has to do with the strip type (`ws.WS2811_STRIP_GRB`) set in wordclock_display.py.
But changing that to `ws.WS2811_STRIP_RGB` did not change the behaviour.

Any ideas?

[2018-10-12 20:47] bk1285 commented on #75
Hi @FrankX0, I just pushed API verison 4.1 to optionally support specific color settings for words, minutes and background as well.

Best,
Bernd

[2018-10-13 10:05] FrankX0 commented on #75
Hi Bernd, Thanks for the update!
I will certainly have a look and integrate this into the graphical interface.

Thanks again,
Frank.

[2018-10-16 16:42] FrankX0 commented on #75
Hi Bernd,

I made an initial commit (#98) for the graphical web interface.
Please give it a try. All feedback is welcome, including my (lack of) coding style.
I expect to still update it in the coming period.

Mit freundliche grüße,
Frank.

[2018-10-20 15:39] FrankX0 opened #99 "Red and green colours swapped"
With the current master (and develop) branche the red and green colours are swapped.
I am still running a branch from April this year which works fine.
With the new branches e.g. the matrix is red instead of green.

[2018-10-20 21:01] bk1285 commented on #99
Hey FrankX0, indeed! Thanks for reporting. I pushed a fix.

Please reopen, if the colors are still wrongly mapped.

Best,
Bernd

[2018-10-20 21:01] #99 closed

[2018-10-20 21:18] FrankX0 commented on #99
Fixed!

Thanks Bernd.

[2018-10-31 20:43] FrankX0 commented on #27
Hi Bernd,

Did you consider to put the ambient light sensor support in the source?
I am using the implementation of @phenze which works fine for the wordclock plugin. But the other plugins do not use this brightness settings. And I'm using a different sensor (BH1750), which means I had to adapt the code a bit.
So an ambient sensor implementation which

1. Works for all plugins, and which
2. Suppor

[2018-11-01 10:04] bk1285 commented on #27
Strange, that the other plugins do not adopt this. I just ordered the sensor and will look into it.
... keep you updated, @FrankX0 @phenze

[2018-11-01 10:07] bk1285 commented on #88
Still an issue? Reopen, if this is the case...

[2018-11-01 10:07] #88 closed

[2018-11-01 10:16] spintike commented on #88
Whoops, forgot to post...issue is solved so nö need to reopen the case :)

Thanks.

[2018-11-04 13:30] atec111 opened #102 "Problems using raspberry zero w - distortet output"
Hi all,

I've come to this project from microcontroller.net version of a wordclock with usage of STM32F103C8T6 and ESP. I've built my watch after there tutorial and it worked for some time, but always after a while it just hangs (not that smart for a smartlike clock ;-)). I assume the problem was the ESP and my Wifi. But never found out.

I was very happy hearing of this project, because i like ra

[2018-11-04 19:31] FrankX0 commented on #102
These symptoms suggest a noise problem, normally associated with not using a level shifter and/or a noise power-supply. As you already are using a level shifter this leaves the power supply.
For my clock I initially used a cheap Chinese power supply, which caused similar problems and even destroyed the first LED of the clock due to excessive noise.
Can you try to power your clock with a (5V) power

[2018-11-04 21:48] bk1285 commented on #102
Hi @atec111

I suspect at least two issues
#1: A hardware issue as mentioned by @FrankX0
#2: The need of a correct wiring. I updated the develop branch according to your wiring posted aboved: https://github.com/bk1285/rpi_wordclock/commit/a394b1d15079d601f75d70eb59ea3f57907ce7af
Ensure to set the wiring_layout to micro_net_wiring within your config-file.

Best,
Bernd

[2018-11-05 20:29] bk1285 commented on #81
Hi @webdisaster,

is the image of the wiring seen from the front or the back of the clock?

Best,
Bernd

[2018-11-06 12:45] atec111 commented on #102
Hi all,

Thanks Bernd, your Wiring-Layout helped a lot. The correct words/letters are lit now.
But additionally I assume that my power supply is not the perfect one. I was testing the clock when it was attached to a "power-cube" (multiple power plugs), and it seems, that some other device caused the worst of the distortions - when I attached it back to it's target destination (a single power-plug)

[2018-11-07 01:18] webdisaster commented on #81
this is front view

thanks
bernhard

[2018-11-07 01:19] webdisaster commented on #81
4x minute  leds are at the end of the led string

[2018-11-07 21:14] #81 closed

[2018-11-12 11:00] atec111 commented on #102
Update:
I've soldered an Micro-USB-Female Port to my Circuit and tryed a Power Bank (Anker, 5V/2A). Result: It was worse than my prior 5V/4A Power Supply. More flickering in Rainbow, more wrong lit lights in "the time".
I've even tried a strong Micro-USB Power-Supply (Anker, with 5V/2.4A per Port). Result: Even more worse than the Power Bank. In Rainbow there was almost no correct picture and it w

[2018-11-12 20:00] FrankX0 commented on #102
Hi Andre,

As the power supply seems to be sufficient, I would guess it is due to the wiring.
Can you share in detail how you have wired your clock, starting from the power source?

When you set the clock to a stable (non changing) display, do you the also see the flickering? Or do yo only see flickering when the contents changes (like the rainbow)?
Can you disconnect the data line after a LED pat

[2018-11-16 10:00] HeerNMeester commented on #102
I had similar problems after a power outage.
I did not use a level shifter before but got the same results after installing one. In the end I replaced my RPi Zero V1.3 for a RPi Zero W. That solved the problem. My conclusion: the Pi died during the power outage or at least something on the GPIO.

[2018-11-16 17:21] FrankX0 commented on #102
My guess would be that the dataline from the Pi to the level shifter and/or from the level shifter to the first LED is being disturbed. Either by external noise or by distortion due to return currents.
If not done already, can you run a 0V connection close to the dataline from the Pi I/O connector to the 0V of the level shifter and from the level shifter to the 0V of the first LED?

[2018-11-18 21:29] bk1285 commented on #102
Yes, only once per minute.

[2018-12-09 19:21] FrankX0 commented on #102
@atec111 did you succeed resolving your issue?

[2018-12-11 20:40] EstherJohanna opened #105 "Wrong LEDs light up"
Hallo Bernd, vielen Dank für die ausführliche Anleitung! Die Wordclock ist unser erstes Raspi-Projekt und wir haben die LEDs tatsächlich zum Leuchten gebracht. Leider zeigen sie nicht die richtigen Wörter an. Nun fragen wir uns, an welcher Stelle wir etwas falsch gemacht haben. Wir haben dein Wiring benutzt, aber keine Buttons angebracht. Deshalb haben wir bei der Anzahl der LEDs das +4 auskomment

[2018-12-12 21:14] bk1285 commented on #105
Hallo Laura, hallo Esther,

auf dem Bild sind die 110 LEDs für die Buchstaben zu sehen, die 4 Minuten LEDs fehlen da noch: 2 direkt am Raspberry, 2 am Ende des LED-Strips.

Wenn's danach noch Probleme gibt, einfach nochmal melden.

Viel Erfolg!
Bernd

[2018-12-12 21:17] bk1285 commented on #105
... siehe auch: https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_layouts/german_11x10/wiring_front_bernds_wiring.png

[2018-12-13 09:20] MaxZimmermann99 opened #106 "Crazy Lights gone wild"
Hallo und erstmal Danke für das tolle Projekt!

Ich sitz hier mit einem Raspberry Zero und hab alles verlötet. Ganz egal was ich aber versuche meine LEDs spielen verrückt. Selbst der simple Strandtest funktioniert nicht.
Alle LEDs blinken und wechseln völlig chaotisch ihre Farben. Manche sind heller andere sind dunkler. Ich hab allerdings kein Flackern.
Ich habe richtig verlötet (Bernd_wiring) und

[2018-12-13 09:52] phenze commented on #106
Da ist wahrscheinlich eine LED irgendwo im Streifen hinüber.
Oder du hast ein kalte Lötstelle.
Das ist mir auch schon sehr oft passiert leider.

Hast du den Strandtest so umgeschrieben dass alle 114 LEDs verwendet werden ?
Dort würde ich auch alle Tests bis auf einen ColorWipe auskommentieren.
So wird immer wieder nacheinander jede einzelne LED durchgeschalten und du kannst die fehlerhafte sehr le

[2018-12-13 13:44] phenze commented on #106
Hast du den Datenkanal auch gemessen ? oder nur +/-

Vielleicht brauchst du auch einen Level Shifter beim Zero.

Siehe den anderen Thread
https://github.com/bk1285/rpi_wordclock/issues/102

[2018-12-13 14:20] phenze commented on #102
Hey guys,

i had this issue several times in the last two years since i built my clock.
The Clock is working and sometimes colors are very strange and flickering around.
Then after a while everything is normal again. Then again flickering.

I do not use a level shifter. As a power supply i use 5V/10A.

In my case it was everytime a broken led in the stripe or wrong connections between the stripes.

[2018-12-13 14:54] Tetrikus commented on #102
Same for me, when I've built my own Wordclock. I do use capacitors and LevelShifter, but whenever I have these issues, it's one of the following:

- Hardware defect of one LED
- Loose contact on the GPIO-Header
- Loose soldering contact of the signal

[2018-12-13 15:22] phenze opened #107 "Hardware recommendations"
Since a few people(including me) have several problems with their LED stripes can anybody recommend any LED Stripe which is working without trouble ?

Perhaps we can update the hardware list in the documentation with some points you have to pay attention when buying the hardware ?

It is kind frustrating when building the clock with cheap/broken LED Stripes and then searching errors for weeks.

[2018-12-13 15:33] atec111 commented on #102
I assume the same for my clock. But I think it is more a loose contact somewhere on data-wire.
But unfortunately I hadn't enough time for detailed analysis until now. I hope xmas holidays will give me some ;-)
I'll keep you updated.

[2018-12-14 07:15] phenze commented on #107
Hello @FrankX0 ,
thank you for your input! (and for the great new Web Interface by the way !!)

Regarding your points i have the following input:

1. I will try this. Thank you. Is it complicated to connect the level shifter ?
2. Im wondering about that point. When you use the power supply you mentioned you have not enough power to get full brightness. The Strip you have mentioned have a Power Con

[2018-12-14 07:50] phenze opened #108 "Plugin to test strip for errors"
Hi @bk1285 ,

i have implemented my strandtest color wipe test script i am using for led strip error tests as a plugin.

https://github.com/phenze/rpi_wordclock/commit/8dbc07e7877c7b620ae146143325d8602dd9a4b4

Can you remerge it into your repo ?

[2018-12-14 08:38] kimthostrup commented on #107
HI @phenze
For point number 3, I have considered using these : https://www.ebay.com/itm/232374294719

[2018-12-14 08:55] phenze commented on #107
@kimthostrup that's great !

Thank you !

[2018-12-14 17:05] MaxZimmermann99 commented on #106
Es funktioniert. Ich musste tatsächlich nur den Pi mit der LED Stromversorung zusammen erden. Wird irgendwo ja auch beschrieben. Hatte den Pi bisher über USB am Netz hängen. Jetzt funkioniert es sauber. Danke für die Hilfe und das Mitdenken!

[2018-12-14 17:05] #106 closed

[2018-12-14 17:11] MaxZimmermann99 commented on #107
Setup which works for me right now:

LED:
https://www.amazon.de/gp/product/B07439RXD3/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1
PI:
Raspberry Pi Zero
Power:
https://www.amazon.de/gp/product/B00MWQF08C/ref=oh_aui_detailpage_o02_s00?ie=UTF8&psc=1

Pi powered with 5V from LED power supply (did not work with Pi on USB)
No levelshifter
No buttons

Working fine, power supply only getting warm with all

[2018-12-16 13:30] bk1285 commented on #108
Hey @phenze,

that's an excellent idea to support during the installation with some testing code.

However, I fear, that someone without a working installation wouldn't be able to select the according plugin.

How about transforming that into a "standalone"-script?

Best,
Bernd

[2018-12-17 06:51] phenze commented on #108
Hi @bk1285 ,

[strandtest.py.zip](https://github.com/bk1285/rpi_wordclock/files/2684764/strandtest.py.zip)

But keep in mind that that errors could also appear after installation. That's why im developed the plugin.

[2018-12-20 13:20] MaxZimmermann99 opened #109 "Summer/Winter Time"
Hey Leute mir zeigt die Uhr die falsche Uhrzeit an :) In der config steht "Berlin". Muss ich irgendwo Sommer und Winterzeit aktivieren?

[2018-12-20 16:34] HeerNMeester commented on #109
Hi Max,

I had the same issue.
Check if the time zone in your Raspberry Pi is set correctly, which was not in my case:
`sudo raspi-config`

[2018-12-20 17:11] MaxZimmermann99 commented on #109
Oh you are right. Its sometimes so easy.... Thanks a lot!

tags: wrong time, summer time, winter time, local time,

[2018-12-20 17:11] #109 closed

[2018-12-23 12:36] MaxZimmermann99 opened #110 "Touching the Raspi crazy effects"
Hey guys if i touch my rasp zero with my finger it makes random stuff like changing the colour or starting random plugins.
I have no buttons and my config says "gpio_high".

Sometimes its even enough to touch the wood of the frame :) Not sure whats going on. My data cabel is soldered to the raspi so its not a buggy jumper cable...

Merry Chrismas everyone!

[2018-12-23 23:08] bk1285 commented on #110
Hey @MaxZimmermann99,

did you setup one common ground? Raspberry + LEDs?

Best,
Bernd

[2018-12-25 12:45] plotaBot opened #112 "os.system commands wont take effect"
The plugins shutdown and restart don't do what they are supposed to.
Unfortunately they execute the display part but not the os.system part:/ (displaying a message > display the plugin icon > after 7sec the time is displayed again.
Since I am only using webcontrol I can't speak for other interfaces. But I do believe it does not matter.

[2018-12-26 06:41] bk1285 commented on #112
Hi @plotaBot,

do you run the clock as super user?

sudo python...

Best,
Bernd

[2018-12-29 13:08] bk1285 commented on #86
Hey! Checkout current master. Is it fixed there, or does is still occur?

[2018-12-30 11:17] bk1285 commented on #105
Bei weiteren Fragen issue bitte wieder öffnen.

[2018-12-30 11:17] #105 closed

[2019-01-01 21:05] bk1285 commented on #27
Hi all,

before starting the integration, I'd like to clarify the requirements for the light sensor.

So far I have on my list...:
* Setting of global brightness -- independent from the chosen plugin
* Handling of the measured brightness
  * Since we can also set the brightness via API, I'm considering to introduce an "auto-brightness" mode, which relies on the measured brightness from the sensor.

[2019-01-19 11:55] MaxZimmermann99 commented on #110
Sorry took me some days to get back here.

I have a common ground for the pi and the LEDs. Without this it wasnt working at all. https://github.com/bk1285/rpi_wordclock/issues/106

I really dont know what causes these effects. I'm gonna keep on reporting. Maybe the next clock is gonna be different :)

[2019-03-01 13:44] MarioVicc opened #116 "Set plugin from script"
Hi

First of all, let me thank you all for this great project!

I’m looking for the best way to switch to a specific plugin from a (python) script and hope you guys can help me out.

(I already have a script that determines if I’m present by checking whether my phone is in Bluetooth range and I’d like to turn the wordclock on and off accordingly)

Thanks
Mario

[2019-03-04 11:12] MarioVicc commented on #116
To answer my own question for future user:

You can use the included RESTful API to interact with the wordclock.
Issuing requests to a web server seems a bit cumbersome to me, but it works:

`import` requests

headers = {
    'accept': 'application/json',
    'Content-Type': 'application/json',
}

time_default = '{  "name": "time_default"}'

response = requests.post('http://127.0.0.1/api/plugin',

[2019-03-04 11:18] MarioVicc commented on #116
And here the actual script I’m running based off prb3333’s work over at https://www.instructables.com/id/Raspberry-Pi-Bluetooth-InOut-Board-or-Whos-Hom/
Check out that post to see how to set it up!

[code]

[2019-03-12 21:32] bhunziker opened #117 "Color Wheel on web interface not working with white"
Hi all

First of all, let me thank you all for this great project!

I realized that when setting the default color to WHITE in the time_default plugin (line 47-49) the color wheel does not work any more. My workaround is to change the color before handing it to the web, but this is not nice. Any other ideas how to fix it?

[2019-03-12 21:36] bhunziker commented on #110
Is it different if you pull the inputs to ground? It might be some cross-talk from the LED output

[2019-03-12 21:43] bk1285 commented on #117
Hi @bhunziker

I just had the chance to check this, but cannot reproduce the issue, using latest develop, master.

Is it possibly browser specific? Can you test with another browser/device/...

Best,
Bernd

[2019-03-13 20:42] bhunziker commented on #117
Hi Bernd

Thanks a lot for your fast and useful reply. I checked it it with the latest master and realized it works. So I have to do some homework to find out what's different.
The browser (chrome, IE, safary) has no influence.

[2019-03-13 20:42] #117 closed

[2019-03-20 19:15] viezefreddie91 opened #118 "No more soldering"
After destroying my LED strip twice because of my genius soldering, i found these “double connectors”. Just wanna share..

https://m.nl.aliexpress.com/item/32870470660.html?pid=808_0009_0101&spm=a2g0n.search-amp.list.32870470660&aff_trace_key=e7f289f08a6541f2b8f323627bc35e62-1548465616450-07303-cWkwJnjS&aff_platform=msite&m_page_id=470amp-UeAh5rejSePDYH1n4dqQnw1553108817837

[2019-03-20 19:46] bk1285 commented on #118
Hey @viezefreddie91,

thanks for sharing! I'll add them to the list of components... :)

Best,
Bernd

[2019-03-27 20:24] bk1285 commented on #118
Here we go... https://github.com/bk1285/rpi_wordclock/commit/ebfa30599b06184313b6d5857e15de421299b8d7

[2019-03-27 20:24] #118 closed

[2019-05-16 12:06] MaxZimmermann99 commented on #110
Hey again everyone. I started over again. New Clock, new Raspberry Zero W, new 5V power and the same problem.

I dont use any buttons and i tried gpio_high and gpio_low. I also tried to use a groud pin for all 3 buttons in the config but the clock won't start this way. Same with some random non existend pin numbers.

Not sure how i am the only one with this problem as i'm using the very basic setu

[2019-05-25 15:07] bhunziker commented on #110
The only thing I could recommend you is what you proposed: all non used pins on ground.
btw: have you tried it with a very clean installation from github? Just in case it might be a software problem.

Greetings
Bernhard

[2019-05-29 23:53] sarosr commented on #86
Hello bk1285, i try the master branch and also the develop, but there is the same error:

_Interface type set to gpio_low
Wiring configuration
  WCA_WIDTH: 11
  WCA_HEIGHT: 10
  Num of LEDs: 114
  Wiring layout: bernds_wiring
  Setting language to italian.
Could not detect language: italian.
Choosing default: german_

If I choose english, it work

Interface type set to gpio_low
Wiring configuratio

[2019-06-08 21:52] coolbikerdad opened #121 "Development Mode on Debian Linux fails to run"
Hi.

I am trying to understand the code before building my word clock (parts on order), and would like to build and run wordclock.py on Linux with GTK in development mode. Unfortunately, I cannot get the program to run. I have set an appropriate configuration file, fixed up font path issues, but the main error now seems to be that the colour values for GTK appear to be integers rather than tuples.

[2019-06-26 18:21] echo1483 opened #122 "Access the wordclock via webinterface"
Access the wordclock via webinterface
Hallo leider nur in Deutsch, Sorry
Die Uhr läuft soweit super mit einem raspberry pi zero w.
Besten Dank für die Arbeit und Bereitstellung des Programms.
Nur das mit dem WEB-Interface kriege ich nicht hin.
Wenn ich im browser meine IP eintrage bekomme ich diese Meldung.
Control Colors fa fa-question-circle The Raspberry Wordclock fa fa-link Project page
fa fa-

[2019-06-28 17:47] FrankX0 commented on #122
It seems to me it is not able to load all resources.
Does your pi have internet access? Some of the resources need to be fetched externally.
If you are using Chrome, can you "inspect" the web-page (crtl-shift-i) and check for errors (top right corner)?

BTW: you can respond in German.

[2019-06-28 17:58] echo1483 commented on #122
Ist auch für mich einfacher, Danke.
Die Uhr wird am Router mit IP Adresse angemeldet. Eigentlich ist alles in Ordnung.
Nur wenn ich die Uhr über den Bowser ansprechen möchte bekomme ich folgende Antwort.
Control Colors fa fa-question-circle The Raspberry Wordclock fa fa-link Project page
fa fa-link Contributors
fa fa-cogs API of this clock
fa fa-caret-left fa fa-circle fa fa-caret-right
Dann ist a

[2019-06-28 19:15] FrankX0 commented on #122
Clear.
Do you use Chrome as browser?
If so, can you "inspect" the web-page (crtl-shift-i) and check for errors (top right corner)?

What you are seeing in your browser is part of the html code.

[2019-06-28 21:21] bk1285 commented on #122
Hey! Indeed, this might be a browser issue. Try several different, such as firefox, chrome, ... on differebt devices: Laptop, Smartphone,  ...

Best,
Bernd

[2019-06-29 04:47] sarosr commented on #86
Hello, i don't know how upload the file, so i past here the code of time_italian.py

----------------------------------------------------------------------------------------------------------------
""" Provided by Saruzzo """

class time_italian:
    """
    This class returns a given time as a range of LED-indices.
    Illuminating these LEDs represents the current time on an english WCA
    """

[2019-06-29 06:49] echo1483 commented on #122
Danke für die Hilfe.
Ich habe mal verschiedene Browser ausprobiert und mein Tablet immer das gleiche. Als Info kam immer die Seite ist nicht sicher. Ich habe darauf alle Berechtigungen für diese Adresse erteilt.

Aufruf der Wordclock.
![grafik](https://user-images.githubusercontent.com/52255775/60380699-072a9780-9a4a-11e9-91b9-cea0cfbcce30.png)

Wenn ich auf API of this Clock klicke erhalte ich di

[2019-06-29 13:02] FrankX0 commented on #122
You seem to have no access to o.a. stylesheets (first screen).
The second screen is strange, but suggests you are not running the latest code. Can you update?

In Firefox, can you right-click on the page and click **Inspect Element**? Does it show errors?

[2019-06-29 17:02] echo1483 commented on #122
Ich habe die aktuelle Version der Wordclock und der Browser.
Im Firefox und Elements bekomme ich folgende Info:

![grafik](https://user-images.githubusercontent.com/52255775/60387242-61564780-9aa0-11e9-9c33-23f52462250d.png)

![grafik](https://user-images.githubusercontent.com/52255775/60387188-c0678c80-9a9f-11e9-8614-d8fbda9c7d32.png)

Leider kann ich damit nichts anfangen.

Gruß echo1483 und dan

[2019-06-29 19:33] FrankX0 commented on #122
Well, there are definitely issues with fetching (local) resources, which is most likely the cause of what you are seeing:
![image](https://user-images.githubusercontent.com/7318792/60388587-3a097580-9ab4-11e9-8776-657d11e863c5.png)
But I do not understand why this happens in your case.

Can you try to load one of the mentioned files by hand?
So: `192.168.178.46/static/js/vue-color-picker.js`
This

[2019-06-29 20:28] echo1483 commented on #122
Ich habe folgende Adresse "http://192.168.178.46/static/js/vue-color-picker.jsim" im Firefox eingegeben, ich hoffe das war richtig. Dannach bekomme ich dieses Meldung:

![grafik](https://user-images.githubusercontent.com/52255775/60389127-e3ed0000-9abc-11e9-94d4-22254720178d.png)
Gruß echo1483

[2019-06-30 06:04] echo1483 commented on #122
Liegt der Fehler an der Raspbian OS-Version oder fehlender Module ?
Ich habe mal meine Version ausgelesen:

PRETTY_NAME="Raspbian GNU/Linux 9 (stretch)"
NAME="Raspbian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"

[2019-06-30 09:56] FrankX0 commented on #122
I think this is the problem: you have Apache running.
They are both listening to port 80. I don't think this will work.

Please stop/uninstall Apache or use a different port for the web interface.
To (temporarily) stop Apache: `sudo systemctl stop apache2.service`

Hope this helps.

[2019-06-30 10:20] echo1483 commented on #122
Wenn ich den Service stope bekomme ich keine Verbindung mehr.
Ich habe es mal mit dieser Version 2019-06-20-raspbian-buster-full versucht, läuft aber auch nicht.
Welche Raspbian.... Version ist denn am sichersten ??

Danke echo 1483

[2019-06-30 10:39] FrankX0 commented on #122
Stretch is fine (running myself), no need to update.
If you do not get any response, then the Python webserver (flask) is not running (@bk1285 correct?).

When you run `sudo python wordclock.py` from a terminal, you should see at the end:
` * Running on http://0.0.0.0:80/ (Press CTRL+C to quit)`
Do you see this, or any errors?

[2019-06-30 11:42] echo1483 commented on #122
Den Befehl habe ich ausgeführt. Ich erhalte eine Menge Informationen, aber "Running on http://0.0.0.0:80/" ist nicht dabei. Ich hoffe das ich Sie nicht nerve mit mein Problem.

gero1483

pi@raspberrypi:~/rpi_wordclock $ sudo python wordclock.py
Parsing /home/pi/rpi_wordclock/wordclock_config/wordclock_config.cfg
Interface type set to gpio_low
Wiring configuration
  WCA_WIDTH: 11
  WCA_HEIGHT: 10

[2019-06-30 12:03] FrankX0 commented on #122
The Python webserver is indeed not running, due to:
`socket.error: [Errno 98] Address already in use`

So you either remove Apache (if you do not need a generic webserver), or you use a different port for the webinterface: https://github.com/bk1285/rpi_wordclock/blob/52057f4b1e192b27633e483fc0165d842b93805a/wordclock_interfaces/web_interface.py#L60
Change 80 to something else, e.g. 8080.
Of course

[2019-06-30 12:45] echo1483 commented on #122
Vielen Vielen Dank, Du bist mein Held.
Durch die Änderung der Zeile 60 und den Port auf 8080 war der Fehler behoben.
Also vielen Dank Dietmar aus Kempen.

Hier zwei meiner Uhren.

![grafik](https://user-images.githubusercontent.com/52255775/60396689-104c5f00-9b45-11e9-8be9-3970310b6dc2.png)

Die Wordclock habe ich in 50 cm und 25 cm gebaut. Die Zeitmatrix habe ich in 0.8mm Flugsperrholz gefräst.

[2019-06-30 13:29] FrankX0 commented on #122
Gern geschehen, Dietmar!
Nice clocks!

[2019-06-30 18:18] Patrik42 commented on #110
Hi All,
same problem at my end.
I have got common ground, RPI 3b.

Additionally, the startscript via crontab does not work.

The log shows

  File "/home/pi/rpi_wordclock/wordclock.py", line 167, in <module>
    word_clock.startup()
    self.wcd.showText("IP: " + netifaces.ifaddresses(interface)[2][0]['addr'])
KeyError * Serving Flask app "wordclock_interfaces.web_interface" (lazy loading)
:  * En

[2019-07-20 17:04] pilothardy opened #123 "Wordclock Swabian"

[2019-07-20 17:10] pilothardy commented on #123
Ich habe versucht, die Wordclock in "Schwäbisch" anzeigen zu lassen. Dabei habe ich festgestellt, dass die Datei time_swabian.py falsche Koordinaten für die Ansteuerung der LED's beinhaltet. Außerdem fehlt in der Datei wordclock_config.cfg auch die Buchstabenvorlage "swabian2" Ich habe diese Änderungen vorgenommen und als Ergebnis wird jetzt die Uhrzeit in schwäbisch korrekt angezeigt.

[2019-07-20 17:10] #123 closed

[2019-07-25 00:56] smierd opened #125 "no module named GTK"
New to python\raspberry pi's so sorry if this is a dumb question. I don't see anything in the instructions about a GTK module https://rpi-wordclock.readthedocs.io/en/master/

[code]

Some googling suggests running `sudo apt-get install python-gtk2`, which results in
[code]

Any advice?

[2019-07-25 01:10] smierd commented on #125
Figured it out. Installing python-gtk2 was the correct move, my second error was related to not pulling my updated code which reflected the changes to the rpi_ws281x project.

[2019-07-25 01:10] #125 closed

[2019-07-29 06:25] echo1483 commented on #122
Hallo FrankX0
seit einigen Tagen kann ich die Wordclock nicht mehr über das Webinterface erreichen. Ich habe nichts verändert, bis dato lief alles ohne Probleme. Als erstes habe ich beim RPI ein Update und Upgrade durchgeführt, half aber nichts. Wenn ich die Uhr aufrufe erhalte ich nur eine leere Seite. Im Log sind diese Meldungen:

Error: "Vuetify is not properly initialized, see https://vuetifyj

[2019-07-29 08:19] FrankX0 commented on #122
Hi Dietmar,
Thanks for reporting. This looks like a "real" issue: I also do not have the webinterface when trying from the camping site in Austria (currently on holiday).
So I can only have a look when I am back home.
It looks like some referenced resources have been updated, causing a backwards compatibility issue. I probably can have a look coming weekend.

[2019-07-29 15:13] echo1483 commented on #122
Hallo,
danke für die schnelle Antwort, ich hatte mir schon Sorgen gemacht.
Also schönen Urlaub und alles Gute.
Gruß Dietmar

[2019-07-31 13:49] koko0815 commented on #122
Hi folks,

thanks for that great project. I've done this with my students. At the moment we have the same issue with the webserver. It would be great to here what we can do to fix it.

Thanks for that

Best regard
Philipp

[2019-07-31 19:03] kendersec opened #126 "Blank web interface"
I've had to reboot the wordclock recently and I've noticed that for at least a couple of weeks the web interface appears to be blank. I get a response from the server but the content doesn't render at all. I believe the HTML content is there but the page is still blank.

My current suspicion is that the vue or vuetify scripts have been updated and the code in the wordclock repository is no longer

[2019-08-01 08:24] MfBosch opened #127 "cannot fetch index base url http //pypi.python.org/simple/"
Hallo Zusammen,
kann mir jemand weiterhelfen ? ich bekomm bei der instalation mehrere Packete (netifaces
flask-restplus) diese Fehlermeldung:
cannot fetch index base url http //pypi.python.org/simple/
Vielen Dank

[2019-08-01 16:15] FrankX0 commented on #122
@echo1483 @koko0815 I just created a pull request #128 to fix the found issue.

[2019-08-01 16:16] FrankX0 commented on #126
I just created a pull request #128 to fix the found issue.

[2019-08-01 19:37] bk1285 commented on #126
Thanks for your PR, @FrankX0
@kendersec can you verify the fix to be working for you (using latest master-branch)? If so, I'll close this issue.

Best,
Bernd

[2019-08-01 19:51] bk1285 commented on #122
Dear @koko0815,

it's great to hear, that you do this project with students!?! Do you have any feedback, how to improve the learning effect/educational aspects? ...taking tools/documentation/etc. into consideration.

Best,
Bernd

[2019-08-01 19:53] bk1285 commented on #116
Nice! :)

[2019-08-01 19:53] #116 closed

[2019-08-01 19:57] bk1285 commented on #127
Hi @MfBosch,

maybe take a look here: https://stackoverflow.com/questions/21294997/pip-connection-failure-cannot-fetch-index-base-url-http-pypi-python-org-simpl

* Are you possibly using a vpn connection?
* http vs. https might be an issue, so maybe try to specify the https explicitly as proposed within the link above...

Best,
Bernd

[2019-08-01 20:06] bk1285 commented on #121
Dear Neil,

just verified, that it works on my PC, running Ubuntu 18.04.2 LTS.
@coolbikerdad: With "development mode", you're referring to the following configuration within rpi_wordclock/wordclock_config/wordclock_config.cfg, right?
[code]
@mrksngl: Any idea?

Best,
Bernd

[2019-08-01 20:20] bk1285 commented on #86
Hi @sarosr,

thank you for sharing! Does the stancil layout correspond to the one, already contained within this repository? E.g. https://github.com/bk1285/rpi_wordclock/tree/master/wordclock_layouts/italian_11x10
Especially https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_layouts/italian_11x10/stancil_front.png

Best,
Bernd

[2019-08-01 20:46] kendersec commented on #126
Awesome guys, it's all back to normal now. Thanks a lot @FrankX0 and @bk1285

[2019-08-01 21:17] #126 closed

[2019-08-02 06:34] echo1483 commented on #122
Danke FrankX0 und Bernd für die schnelle Hilfe, die Wordclock ist ein super Projekt. Ich bin schon auf weitere Module gespannt.

Thanks FrankX0 and Bernd for the quick help, the wordclock is a great project. I'm looking forward to more modules.

Best Dietmar

[2019-08-04 10:08] sarosr commented on #86
yes, i use the italian 11x10 stencil_front.png

thank you for your great work.

[2019-08-06 07:56] andredatele opened #130 "how to disable minute LEDs"
Hi all,

I'm currently gathering all the parts in order to assemble a wordclock, but I've already started working on the software.
I am using a smaller face/enclosure, so I want to skip the minute LEDs, and keep only the LED strips. Is there a simple way of doing it? I looked up the config file but I didn't find it. Creating the custom layout is easy, it is just a matter of defining the diameter t

[2019-08-07 19:28] andredatele commented on #121
I get this same error on both raspbian and also Ubuntu 18.04.2 LTS:

![GTK](https://user-images.githubusercontent.com/33327533/62651169-ae0f2700-b958-11e9-9aa4-a8652e9e3008.PNG)

[2019-08-12 11:45] #130 closed

[2019-08-20 09:07] Calimerorulez opened #131 "Question about hole diameter in skeleton"
Hi!

Thank you for this awesome project!

Excuse me for asking, but what is the hole diameter of the holes I have to drill in the skeleton? I'm having a hard time to find it :(

[2019-08-20 09:54] HeerNMeester commented on #131
Depends on the size of your clock and letters. The standard is a letter matrix of 30x30 cm, in that case the holes should be around 24 mm. Depending on the type of wood you use for the frame, and your ability to drill holes, you can increase that to 25 mm of even 26 mm. but in the latter case the walls between the holes might get really thin. So to be "better safe than sorry", use 24 mm.

[2019-08-21 09:41] #131 closed

[2019-08-21 09:41] Calimerorulez commented on #131
Thanks!

[2019-09-08 19:35] SvenFackert opened #132 "Grid not centered vertically"
I just wanted to point out, that the character grid is not perfectly centered vertically. It is a bit too far to the bottom. Maybe the problem origins from the vertical alignment of font characters inside the SVG text elements. But I didn't have any time to dig deeper into that yet.

A quick and dirty fix that I just used would be to just offset each character by 4 pixels which will output an almo

[2019-09-14 18:53] basholtman opened #133 "Issue running wordclock.py"
Can anyone point me in the right direction, the strandtest.py is running fine al leds work.
But when I try to run wordclock.py i'm getting the following messages.
![Untitled](https://user-images.githubusercontent.com/55329611/64912565-8b2f1a00-d731-11e9-8ae4-9e3f91e3cdd4.jpg)

I've no buttons attached to my clock and set gpio already to high, also already disabled my soundcard and running on a ras

[2019-09-15 19:24] bk1285 commented on #133
Hey @basholtman,

this seems to occur due to missing fonts. Try to rerun the commands below, as pointed out in the documentation: https://rpi-wordclock.readthedocs.io/en/master/doc_software_setup.html

[code]

... where `ttf-freefont` and `freetype-py` should be the relevant packages to fix the error above...

Best,
Bernd

[2019-09-15 19:26] bk1285 commented on #132
Hi @SvenFackert

thanks for reporting. Can you detail, which viewer you were using? I'll check, if I can reproduce that.

Best,
Bernd

[2019-09-15 19:28] #122 closed

[2019-09-15 19:29] SvenFackert commented on #132
Hi Bernd,

I checked it using Google Chrome as well as Adobe Illustrator. The offset appeared in both of them.

Kind regards,
Sven

[2019-09-16 16:28] basholtman commented on #133
Hey Bernd thank you for the reply,

![Untitled](https://user-images.githubusercontent.com/55329611/64975553-96a84f80-d8af-11e9-95fc-79f364e5ac7c.jpg)
I have all the other packages and cant install ttf-freefont, am I missing something?

[2019-09-17 18:18] basholtman commented on #133
That's maybe something for when i'm further down the road with the issue plotabot.

![Untitled3](https://user-images.githubusercontent.com/55329611/65067916-e22e2c80-d987-11e9-9fee-8ec47e6aa7d9.jpg)
![Untitled4](https://user-images.githubusercontent.com/55329611/65067919-e2c6c300-d987-11e9-99cb-6205d3d97a63.jpg)

Managed to install the mscorefonts, but still no luck on the ttf-freefont (Should wor

[2019-09-21 14:22] basholtman commented on #133
@plotaBot indeed ttf-freefonts does not install buster lite, it installs fine in stretch lite. Lets see if I can get the clock running on stretch.

[2019-09-21 15:38] basholtman commented on #133
issue closed: this project runs fine on Raspbian stretch lite, but doesn't Raspbian buster lite due to the fact ttf-freefonts can't be installed.
@bk1285 Might want to add that in the troubleshooting section or at main build page @ software setup

[2019-09-21 15:38] #133 closed

[2019-11-05 21:26] O365Tycho opened #135 "Wired wrong direction, how to fix"
I didn't pay attention and wired my clock in a different direction. As you can see in the attached image i started with the minute leds in the top left corner, followed by bottom left corner and then went up,down,up,down etc with the led strings. This results in the leds being vertically mirrored (don't know how else to describe it).

What is the best way to fix this? I found wordclock_plugins/tim

[2019-11-06 09:16] O365Tycho opened #136 "Font suitable for laser cutting"
I like the new WCFont that has been recently commited, but i think a font suitable for laser cutting is needed with modified letters like A,B,D,O,Q,R,P . Would be nice if such a font is included by default to use with the create_layout.py script.

See for example the one @HeerNMeester meester used in his project:
[https://user-images.githubusercontent.com/22868008/29250896-279badb2-804b-11e7-8805-

[2019-11-06 15:32] HeerNMeester commented on #136
Hi Tycho,
There are 3 options for getting the right font:
1. Search the internet ;)
2. Create you own
3. Use this website to create your own template (Use the Stencil DIN Q2 font).
[https://simongolms.github.io/QLOCKGENERATOR/#/home](url)

@bk1285 Maybe a good idea to link this site on the ReadTheDocs?

[2019-11-06 15:38] O365Tycho commented on #136
Nice site! Guess that beats using the included python script. Definitely something that should make it to the docs.

[2019-11-06 15:42] HeerNMeester commented on #135
Hi Tycho,

I see that rewiring is not really an easy option anymore.
The wiring of the LEDS is configured in this file:
https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_tools/wiring.py
You can create your own wiringscheme here and use that in the config file.

[2019-11-07 08:17] O365Tycho commented on #135
Thanks for the link to the wiring scheme. I've added my own wiring class with the following formulas in the getStripIndexFrom2D(self,x,y)

`if x % 2 == 0:
   pos = (self.WCA_WIDTH -x) * self.WCA_HEIGHT -y + 1
else:
   pos = (self.WCA_WIDTH -x - 1) * self.WCA_HEIGHT + y + 2`

[2019-11-07 08:17] #135 closed

[2019-11-10 10:59] kimthostrup opened #137 "CNC dwg/svg/pdf format"
Hi all, this is a question rather than a question.

Does anyone have a cnc ready vector file for the frame/base of the word clock ?

Thanks in advance.
/Kim

[2019-11-11 06:15] phenze commented on #137
It is for a 45x45 wordclock.

https://drive.google.com/file/d/1Hlotmw6nANcubd6710GxPgvlm0991RH7/view?usp=sharing

[2019-11-12 06:16] kimthostrup commented on #137
Thanks @phenze 😃
Do you happen to have a picture of the frame ?

[2019-11-12 06:33] kimthostrup commented on #137
Thanks phenze, this is awesome 😃

[2019-11-13 11:26] kimthostrup opened #138 "Question - Translate - New Stencil"
Gents,

I would like to translate the existing stencils to Danish, any idea how to go around this task ?

Thanks in advance.
/Kim

[2019-11-13 14:40] kimthostrup commented on #138
Thank you for your feedback.

Sorry for my ignorance,  but how will this help in getting the logic behind the rpi wordclock to light up the correct led's to "spell" the led words that of course is different depending on the language ?

[2019-11-13 17:22] kimthostrup commented on #138
Perfect thanks :-)

[2019-11-13 18:21] bk1285 commented on #138
Dear @kimthostrup,

good to hear, that you want to add danish language support 👏

The (currently undocumented) procedure is the following:
* Research a layout (e.g. using @plotaBot's link: https://files.qlocktwo.com/Q2/check.html)
* Add this layout to your config-file at the bottom (see examplary file [here](https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_config/wordclock_config.exam

[2019-11-13 18:24] kimthostrup commented on #138
Hi Bernd,

Thank you for the information above, as soon as I have my (second) rpi_wordclock build completed, I will give this a shot.

[2019-11-14 10:29] SvenFackert opened #139 "Brightness sensor"
Hey folks,

I've been building a few of these WordClocks now and am very grateful for the really awesome work that everyone contributed here. Especially the documentation on how to build the clock is very exhaustive and easy to understand (even for ppl without any experience in hardware).

What I was missing up to now was the support for a brightness sensor that automatically dims the clock accord

[2019-11-14 11:18] kimthostrup commented on #139
Of course please share :-)

/Kim

[2019-11-14 11:59] phenze commented on #139
@SvenFackert take a look here:

https://github.com/bk1285/rpi_wordclock/issues/27

I have a brightness sensor until day one of my clock.
Would be great if we can find a solution for everyone.

[2019-11-14 12:49] SvenFackert commented on #139
Ah.. I see. There has already been a list of requirements for an integration of a brightness sensor: https://github.com/bk1285/rpi_wordclock/issues/27#issuecomment-450756826

My solution doesn't meet those requirements yet. Also it is somehow dependent on the type of sensor I am using.

I suggest that we maybe create an independent auto_brightness interface, which is responsible for providing an A

[2019-11-23 23:01] coolbikerdad opened #140 "Blank Web Interface - Flask not rendering template?"
Hi.
I have had to make a new installation of my word clock and I am not getting the web interface rendering. I get a blank page on visiting http://<ip_address of clock>, and "view source" shows me the contents of app.html as-is. Calls to the APIs give expected results though, so flask is running. Looks like Vue is not doing its thing. I have been running the clock beautifully since June (a power f

[2019-11-24 11:06] FrankX0 commented on #140
Hi Neil,
I can confirm that the web interface currently results in a blank screen.
And yes: Vue is not doing its thing.

It fails to load `iro.min.js` from `static/js` (which is not there).
Furthermore there is a reference error: `colorByTemp is not defined`

These changes have been made from end of September.
@bk1285 @plotaBot can you have a look?

[2019-11-24 14:40] bk1285 commented on #140
Thanks for reporting, @coolbikerdad, @FrankX0.

The issue of the missing `iro.min.js` should be resolved. Please update to lastest master. The reference error however, I cannot reproduce. Please report, if the issue continues to exist...

Best,
Bernd

[2019-11-24 14:43] bk1285 commented on #139
Sounds good, @SvenFackert. Let's detail on that a little further. Maybe start over with sharing your implementation (e.g. via a fork + branch in your own repo)..

Best,
Bernd

[2019-11-24 15:17] FrankX0 commented on #140
Hi Bernd,

The web interface now renders correctly again (reference error is also gone now).
I however still see two errors when loading the page:

- `Failed to load resource: vue-color-picker.css`
But with the new color picker this css is not used anymore. Correct?
- `GET method not allowed: /api/color_temperature`
The clock API does not seem to support this method. Correct?

Regards,
Frank.

[2019-12-02 16:28] SteveThomson19 opened #141 "Time of day - sleep not working."
Hi,  Relatively new programmer here but I've reached my limit and no further forward to fixing the problem.

It seems my nighttime sleeping isn't functioning (or being picked up by the main program).

In my wordclock config file everything else seems to be working.
Section of Config file.

[code]
I have tried all combinations of the numbers e.g.  07, 7  etc to no avail.

Upon startup the following

[2019-12-03 07:10] phenze commented on #141
Just remove the comments behind the variables.

sleep_begin_hour = 22
sleep_begin_minute = 00
sleep_end_hour = 07
sleep_end_minute = 00
sleep_brightness = 10

[2019-12-03 08:42] SteveThomson19 commented on #141
Thank you,  tried that and it crashes.

Cloned a new copy and started again.  Changed the config file to be english and ran it - no problem.

Changed the config file to this (without comments)
[code]

And it crashes - big red x  on the clock and in terminal I'm getting

[code]

If I add a comment on each line of the variables again it runs fine.  Obviously without the brightness reduction.

[2019-12-03 08:46] phenze commented on #141
try printing the exact exception
Find the error handling code in wordclock.py and replace it with the following:

[code]

Then you will see a detailed error message. Try to fix it or paste it here then i will help you

[2019-12-03 11:18] SteveThomson19 commented on #141
That helps greatly. Thank you.

The error comes up as :

`wordclock_display instance has no attribute 'getPixelColor`

If I look in wordclock_display the only reference to it is on line 121.

[code]

I can't see where this would be referenced from originally - is it part of the rpi281x load ?

[2019-12-03 11:30] phenze commented on #141
I had this error too in my fork after pulling the changes.
I fixed this with the old code (wordclock_display.py)
[code]
But this is something @bk1285 must have a look at.
This has to be fixed.

[2019-12-03 17:44] bk1285 commented on #141
I'll look into it! Thanks for reporting.

[2019-12-03 22:37] bk1285 commented on #141
Hi @SteveThomson19, @phenze,

can you checkout https://github.com/bk1285/rpi_wordclock/tree/bugfix/issue141 and check, whether this fixes the issue?

Best,
Bernd

[2019-12-04 08:09] phenze commented on #141
Uff that was on the develop branch and a lot of changes.

But it is almost fixed. When brightness before is 0 you get a division by zero exception.

My Fix (perhaps you dont need the developer mode switch)
[code]

But now i have another problems.
You forgot the set brightness call on the show_time function:
[code]

With that fix every Minute my LED's are shown but then get invisible.
That is becau

[2019-12-04 08:17] SteveThomson19 commented on #141
New cloned copy.
Only configuring the brightness parameters.
I get the Red X and the same error message I got thanks to Pascals suggestion.

`wordclock_display instance has no attribute 'getPixelColor'`

[2019-12-07 20:45] SvenFackert commented on #110
For everyone who stumbles across this problem in the future (no hardware buttons), I have a very simple solution for you. I had the same problem for one of my builds that had no buttons. In these cases touching the pins of the Raspi will eventually trigger the button functions.

The simplest solution in my opinion is to just disable the event listeners for the buttons in the wordclock_interfaces/g

[2019-12-10 07:17] mrksngl commented on #110
The hardware fix would be to hardwire the corresponding gpios to ground (or VCC, depending on the polarity setting) :)

But yes, we should also give it a property, as it seems there is a use case for having no buttons.

[2019-12-10 20:28] Joeri-MS opened #143 "Frontplate with 18x16 letters and the matrix plugin"
I've got an 18x16 Frontplate working. But some Plugins, like Matrix, dosen't uses all LEDs, only the original 11x10 area are used.

In the matrix plugin.py i changed the width, but i did not find the right place to change the hight.

        # initialize rain start: set to end coordinate
        rain = [20 for _ in range(0, wcd.get_wca_width() + 1)]
        while True:

[2019-12-19 15:27] DJ-Dan opened #144 "Change sequence of minutes LED"
I have change from Christians Bastel-Laden to this Raspberry Pi Wordclock.
But by me is the left top LED not LED one its LED four.
How can I change the sequence of the minutes LEDs?

[2019-12-19 15:32] DJ-Dan opened #145 "Warning after start"
If I start the program on my Rpi it gives out an warning.
`WARNING: This is a development server. Do not use it in a production deployment.`
and the http-address shows http://0.0.0.0:80/
and i can't close the programm with Ctrl + C

[2019-12-29 02:43] webdisaster opened #146 "cannot start Matrix_Time plugin"
Hi!

Leider taucht das matrix time plugin nirgends auf. Auch mit den Tasten lässt es sich nicht auswählen. in der config ist es aber aktiviert

[2019-12-29 02:45] webdisaster commented on #81
Hi
Tried it a bit late but it works perfect!

[2019-12-30 00:42] oxivanisher commented on #145
This is probably OK. This message appears, because Flask (the web framework) is meant to run big websites with lots of connections. For such a environment, it is good practice to use other things together with Flask.
But since this is only the control web interface where 99% of the time nothing is happening, it is absolutely reasonable to use Flask like it is used here. This warning can be ignored

[2019-12-31 11:18] DJ-Dan commented on #145
Thanks @oxivanisher
Can you also explain to me why I cannot close the application with CTRL + C?

[2019-12-31 12:04] DJ-Dan commented on #141
I have the same problem with my new wordclock installation. The Sleep time won't be set and used. How can i fix it?

[2019-12-31 12:33] oxivanisher commented on #145
@DJ-Dan Probably, but I can sure help you to close it. :D
It probably forkes (makes additional processes in the background) or is in a loop. When I wanted to close it, I just had to spam CRRL+C several times and I was able to "break out" of it. Hope this helps. :)

[2020-01-01 19:58] DJ-Dan opened #147 "html-string"
Is it possible to change the LED's on and off with html string?
I want control the wordclock with my FHEM System.

[2020-01-01 22:27] FrankX0 commented on #147
I guess what you are looking for is the build-in API.
Please have a look at the API documentation in web interface of the clock: <ip-address>/api

[2020-01-01 22:41] #137 closed

[2020-01-01 22:49] #136 closed

[2020-01-01 22:53] bk1285 commented on #144
Hi @DJ-Dan

you may update (or better reimplement) the [mapMinutes](https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_tools/wiring.py#L117) and the offset in [getStripIndexFrom2D](https://github.com/bk1285/rpi_wordclock/blob/master/wordclock_tools/wiring.py#L103).

Best,
Bernd

[2020-01-01 22:53] #144 closed

[2020-01-01 22:54] #145 closed

[2020-01-01 22:58] bk1285 commented on #143
@mrksngl any chance, to look into this?!? ;)

Best,
Bernd

[2020-01-01 23:02] bk1285 commented on #146
strange.... wie sieht's mit anderen Plugins aus? Die funktionieren? Gibt es irgendwelche Fehlermeldungen auf der Konsole?

Best,
Bernd

[2020-01-01 23:16] bk1285 commented on #147
Hi @DJ-Dan

if you manage to control the clock via FHEM, it would be great, if you'd write about your solution here. Ideally, you can use the endpoints as outlined by @FrankX0 e.g. using `curl` or similar tools.

I did the integration for home assistant. Maybe you want to have a look [here](https://github.com/bk1285/rpi_wordclock_for_homeassistant/blob/master/rpi_wordclock.py) to get at least an i

[2020-01-02 14:14] konraifen88 opened #148 "No module named flask_restplus"
When trying to start the project on a clean RPI I've got the following stacktrace:

[code]

After I've installed the _flask_restplus_ module using pip the project started as expected.

[2020-01-05 10:46] webdisaster commented on #146
Hi und Damke für die Hilfe. Die Fehlermeldung beim Start lautet:
Failed to import plugin time_matrix!

alle anderen Plugins gehen.
fg
Bernhard

[2020-01-05 16:27] 3damberger opened #149 "Rückplatte"
Gi .

Hast du irgendwo eine svg oder zeichnung der rückplatte ? ich finde leider nur die Front. Würde die dann direkt komplett fräsen lassen

Gruß
    Marcus

[2020-01-06 21:25] BowenDragonheart opened #151 "Problems with Raspberry Pi Zero W and the W2812B LEDstrip"
Hi WordClock makers!,

I am trying to build my own Word Clock and am in the final stage of testing the LED strips. Unfortunately, I ran into problems here.

I'm using a Raspberry Pi Zero W, combined with a Mean Well power supply (5V, 50W) and the a W2812B LEDstrip.

Using both the strandtest.py and the test script of the source directory, I run into a strange problem: I need to specifiy four more

[2020-01-07 06:12] phenze commented on #149
Schau mal hier. Da ist auch die Zwischenplatte dabei.

https://github.com/bk1285/rpi_wordclock/issues/137

[2020-01-07 11:58] BowenDragonheart commented on #151
Thank you for your input!

1. Yes, but I will do a clean install right now just to make sure that everything.
2. I don't use a level converter.
3. I will give this a try.

Furthermore, I have read that it is important that the LED strip and the PI do not share the 5V+
(https://tutorials-raspberrypi.com/connect-control-raspberry-pi-ws2812-rgb-led-strips/)

This is currently the case for my clock. W

[2020-01-07 14:51] BowenDragonheart commented on #151
Wait, do you need also to connect the last LED to the +5V and the GND? :O

[2020-01-07 15:31] BowenDragonheart commented on #151
Is that not the problem? It is not an RGB strip, but a RGBW strip. Is this not supported?

[2020-01-08 11:18] 3damberger commented on #137
dankeschön ;-)

[2020-01-25 22:09] bk1285 commented on #151
Hi @BowenDragonheart

to address the LEDs, jgarff's library is currently used. As mentioned [here](https://github.com/jgarff/rpi_ws281x/issues/387#issuecomment-574727119), it's probably an issue, that you need to provide another byte to setup the fourth color channel. As soon, as jgarff's library supports this, I expect the wordclock to work smoothly with th RGBW-type of LEDs.

Meanwhile, you'll h

[2020-01-25 22:10] #151 closed

[2020-02-01 16:40] DJ-Dan commented on #147
Hey @FrankX0, I don't know what you mean?
Can you describe me how i integrate the API in my FHEM or FHEM into the Wordclock?

/br
Daniel

[2020-02-02 17:08] FrankX0 commented on #147
Hi Daniel,

If you want to control the clock from FHEM, you can send html POST requests to the IP address of the clock. The commands support are documented in the clock webinterface.
You can find it at: `your-clock-ip-address/api`

I however have no experience with FHEM. So I cannot help you with how to send POST requests from FHEM.
Maybe this helps: https://wiki.fhem.de/wiki/HTTPMOD

Good luck,
F

[2020-02-03 18:45] DJ-Dan commented on #147
Thanks for your reply.
If I edit the brightness value over the API website, then I become a error message:
error code 500
"message": "Internal Server Error"
Does anyone know how i fix this?

[2020-02-03 19:42] FrankX0 commented on #147
How and which POST request do you send?
Can you share the output of the terminal window (if you start the clock application manually)?

[2020-02-03 22:15] bk1285 commented on #147
... that would be indeed helpful. A "Internal Server Error", indicates definitely a wordclock issue. Even if you submit any wrong values, etc, the wordclock should be able to handle that.

Best,
Bernd

[2020-02-07 08:55] DJ-Dan commented on #147
Hi,
this is the output when i start the clock manually,

`Parsing /home/pi/rpi_wordclock/wordclock_config/wordclock_config.cfg
Interface type set to gpio_low
Wiring configuration
  WCA_WIDTH: 11
  WCA_HEIGHT: 10
  Num of LEDs: 114
  Wiring layout: christians_wiring
WARNING: Default brightness value not set in config-file: To do so, add a "brightness" between 1..255 to the [wordclock_display]-secti

[2020-02-07 10:35] FrankX0 commented on #147
Hi @bk1285, Bernd,

I guess this one is for you to solve: `wordclock_display instance has no attribute 'getPixelColor'`
And there is another occurrence of the same issue: #141

Kind regards,
Frank.

[2020-02-07 16:14] bk1285 commented on #147
Agreed, @FrankX0 ;)

@DJ-Dan, can you provide me the commit, you're running the wordclock with? ...are you on master?

[2020-02-07 17:10] DJ-Dan commented on #147
I'm not sure what you mean.
Do you want to have my wordclock config file?
Yes I'm the master of the system an i have full access to it.

[2020-02-07 18:01] bk1285 commented on #147
No worries, @DJ-Dan,

if you login to your raspberry pi and open a terminal, can you provide me with the output of the following commands?
`cd /home/pi/rpi_wordclock`
`git rev-parse --short HEAD`

The last command should return a short sequence of characters. These are of interest here, since they identify your current software version (=current commit, you're on...)

Best,
Bernd

[2020-02-07 18:17] DJ-Dan commented on #147
The output is: 'd40506c'

[2020-02-07 18:35] bk1285 commented on #147
Thanks for the quick feedback, @DJ-Dan. So I have all input to look into it.

Best,
Bernd

[2020-02-07 18:42] DJ-Dan commented on #147
upps i clicked myself!
Thanks for your support

[2020-02-08 00:11] bk1285 commented on #147
Hey @DJ-Dan

I made quite a few changes and refactorings, which should probably be tested a little, before going to master.
To check, if the fix is working, try the following commands:
` cd /home/pi/rpi_wordclock`
`git remote update`
`git checkout --track origin/develop`

You're now on the develop branch, which holds my latest fixes. If it doesn't work and you want to go back to the version you ha

[2020-02-08 08:50] DJ-Dan commented on #147
Hey @bk1285
the command `git remote update` worked fine but the `git checkout --track origin/develop` gave a error because i changed the wordclock_display.py fiel

I have generated a new code `ce689c4`

sorry for the inconvenience

[2020-02-08 09:48] bk1285 commented on #147
Run
`git reset --hard`
and then
 `git  checkout --track origin/develop`.
Note: The changes you made to wordclock_display.py are lost in this case.

[2020-02-08 09:51] bk1285 commented on #148
Thank you for reporting, @konraifen88

I'll update the docs.

[2020-02-08 10:03] DJ-Dan commented on #147
I hope I did everything right
The outputs from the codes are:

`pi@raspberrypi:~ $ cd rpi_wordclock/
pi@raspberrypi:~/rpi_wordclock $ git remote update
Fetching origin
pi@raspberrypi:~/rpi_wordclock $ git checkout --track origin/develop
fatal: A branch named 'develop' already exists.
pi@raspberrypi:~/rpi_wordclock $
pi@raspberrypi:~/rpi_wordclock $ git checkout master
Switched to branch 'master'
Y

[2020-02-08 13:19] bk1285 commented on #147
:see_no_evil: ... so you already have a develop-branch from former tests/checkouts...? ;)

In this case, run
`git remote update`
`git checkout develop`
`git pull origin develop`

Just as remark: The current version of develop works best if `typewriter` is set to  `False` within the wordclock_config.cfg.

[2020-02-08 13:51] DJ-Dan commented on #147
Okay sorry for my fault.

`pi@raspberrypi:~ $ cd rpi_wordclock/
pi@raspberrypi:~/rpi_wordclock $ git remote update
Fetching origin
pi@raspberrypi:~/rpi_wordclock $ git checkout develop
Switched to branch 'develop'
Your branch is up-to-date with 'origin/develop'.
pi@raspberrypi:~/rpi_wordclock $ git pull origin develop
From https://github.com/bk1285/rpi_wordclock
 * branch            develop    ->

[2020-02-16 20:37] dhoeben opened #153 "PCB"
Hi everyone,

I have a question. I'm interested in making this project for a long time, but finally found the time to do it now. I have no clue of whatsoever of Raspberry Pi, but a little of making printer circuit boards. Now my question regarding the parts, does it matter which LED's, level-shifter, etc I will use on the PCB?

I was thinking of these LED's:
https://lcsc.com/product-detail/Light-E

[2020-02-17 20:21] FrankX0 commented on #153
Regarding the LED's: are you planning to use separate LED's instead of the strips? That would mean a PCB the size of the clock? Neat, but maybe much more expensive.

Regarding the level shifter: you only have to go from a 3.3V to a 5V domain. I would advise to use a 5V "buffer" with TTL compatible inputs. So something like a (less exotic) [HCT08](https://lcsc.com/product-detail/Gates-and-Inverters

[2020-02-18 14:01] dhoeben commented on #153
Yes, I was planning on making the PCB almost as big as the clock and cut a piece out of it for Raspberry! I was looking, here in the Netherlands it is around 10-15 euro for a printed one with parts. Of course, depending on the LED’s etc used.

Thanks for the input! Will keep you posted!

[2020-02-18 14:12] NemoN commented on #153
I am interested :-)

[2020-02-18 20:02] dhoeben commented on #153
Just out of curiosity, why would you use a level shifter? Is this because of how the Pi handles the led communication? [Here](https://rpi-wordclock.readthedocs.io/en/master/_images/wiring.png) they don't list it...

[2020-02-18 20:26] FrankX0 commented on #153
Here's the explanation why: https://github.com/bk1285/rpi_wordclock/issues/107#issuecomment-447108988
If you're lucky, it will work without. But by design it is not reliable. If you are designing a custom PCB anyway, stay on the safe side.

I would advise to go for a Raspberry Pi Zero W and connect it through the IO connector to your PCB ("piggy-back"). The Pi then can be powered directly from you

[2020-02-18 20:35] dhoeben commented on #153
@FrankX0 Oke thanks for the clarification about the level shifter.

Is the Pi Zero W also protected for overvoltage etc like via the USB connection?

[2020-02-18 20:52] FrankX0 commented on #153
The Pi Zero has no overvoltage protection. The Pi4 has a TVS on its 5V supply.
Then again, you can also add protection on your PCB.

[2020-02-23 12:17] bhunziker opened #154 "initialization of new brightness handling"
I get an exception with the new brightness handling while initializing class `wordclock_display`.
Assuming that the exception comes from `setBrightness ` in initialization (line 36) when it will call `getBrightness `(line 115) but self.brightness (line 109) is not available at this time.
My proposal: `self.brightness = config.getint('wordclock_display', 'brightness')` on line 36.

[2020-02-27 20:54] Arjan444 commented on #27
Hi  Bernd,

Love your Clock. Working on my 5th.

The first 4 all have the TSL 2561 ambient light sensor (thanks Phenze). Did anyone already produce a version (a Beta maybe) of an integrated version of the latest software including this (or similar) ambient sensor?

Very much appreciated. Best, Arjan

@bk1285 @FrankX0 @phenze

[2020-02-27 21:16] bk1285 commented on #27
Hi @Arjan444
good to hear, that you like the clock! :)

Recently, I refactored the wordclock display. Changes are currently on develop branch. Especially the way of handling the brightness was [reworked](https://github.com/bk1285/rpi_wordclock/blob/develop/wordclock_tools/wordclock_display.py#L268).

The remaining work is to read out the current ambient light intensity and set the brightness accor

[2020-02-27 21:28] bk1285 commented on #154
Hi @bhunziker,

are you on latest master?
Can you post the result of the commands below?

[code]

Best,
Bernd

[2020-02-28 07:49] Arjan444 commented on #154
Hi Bernd,

I'm on 42d795d.

I also have a brightness issue. When starting the clock I get the message that brightness is not set ("Default brightness value not set in config-file: To do so, add a "brightness" between 1..255 to the [wordclock_display]-section.")

But the brightness setting in set. It is untouched in the config (and set at 200).

I also see that the sleeping time is not set (but it

[2020-02-28 07:58] phenze commented on #27
Hi
my Master is on the actual Master of Bernd. Ambient Light Sensor should work.

[2020-02-28 08:00] Arjan444 commented on #27
Ok. Thanks. I use the TSL 2591. Maybe it requires different library.

[2020-02-29 21:33] Azrael0815 opened #155 "Startup Brightness and color"
First of all I would like to say thank you for the great job.. i created your wordclock and it looks awesome !

Nevertheless I have a (probably stupid) question. How do I change the startup brightness and color ?
The "brightness" in the cfg file does not seem to affect the brightness at all
Thanks for your time andf great work

[2020-03-05 20:42] bhunziker commented on #154
Hi Bernd

Sorry for the delay in responding. I was abroad and had no access to my wordclock.
I'm on 42d795d. The description of Arjan444 holds for me as well. I assume it's the same root cause, the initialization routine.

Thanks
Bernhard

[2020-03-08 16:15] Arjan444 commented on #27
Hi @bk1285 and @phenze,

In both of your Masters my TSL2591 ambient light sensor does not do anything. I have it working in my other clocks but with the new wordclock display code and all I'm not sure how to fix it...I just hope one of you has a version in which it does work.....

Thank you,

Arjan444

[2020-03-08 21:00] Arjan444 commented on #27
@bk1285 and @phenze,

Could it be that the wordclcok code is written in Python 2.7 and that Adafruit GPIO libraries are V3 only?

Thanks

[2020-03-16 08:55] TobyLongley commented on #155
Hello.
I have the same problem. I finished my wordclock this weekend and tried to adjust the brightness as well in the wordclock_config.cfg, time_default/plugin.py and  wordclock_display.py but nothing had any influence.
The only way to change the brightness is with the webapp atm.

Any hints where to start?

Thank you in advance.

[2020-03-18 00:04] Alphascrypt opened #156 "WordClock wont startup"
Hey guys, i started to build this nice wordclock. I have all things here. I wanted to start the wordclock.py but it ended in an failure message:

 sudo python wordclock.py
Traceback (most recent call last):
  File "wordclock.py", line 10, in <module>
    import wordclock_interfaces.web_interface as wciweb
  File "/home/pi/rpi_wordclock/wordclock_interfaces/web_interface.py", line 3, in <module>

[2020-03-18 05:57] phenze commented on #156
https://github.com/noirbizarre/flask-restplus/issues/777

You can either wait for flask_restplus to get fixed or install flask_restx

[2020-03-18 08:44] Azrael0815 commented on #155
I managed this by adding a brightness sensor like Phenze did. Works really good. Still I am only able to change the startup color by changing the code in the Py file

[2020-03-18 08:45] Azrael0815 commented on #156
Or you switch to a different "Werkzeug" (0.16.1) version - worked for me
https://github.com/noirbizarre/flask-restplus/issues/777

[2020-03-21 07:02] TobyLongley commented on #155
noobquestion: where do I find his code? I'm pretty new to all this git stuff :/

[2020-03-23 15:12] Alphascrypt commented on #156
#Worked! Thank you

[2020-03-24 11:02] Alphascrypt opened #157 "DCF77"
Hey guys again,
is it possible to implement an DCF77 for the time without WLAN?

Greetings
Martin

[2020-03-26 13:23] Alphascrypt opened #158 "Changing minutes Position"
Hey guys again,

i use bernds_wiring and wanted the minutes after the last LED. After Z,99

How is this possible?

Greetings
Martin

[2020-03-26 15:37] FrankX0 commented on #157
The wordclock uses the internal time of the Raspberry Pi. Normally it is updated and synchronised with an NTP server over (W)LAN. In your case this source should be through DCF77.
So as far as I can see the wordclock is not directly affected by how the Raspberry Pi time is being kept accurate.

So then your question is how to synchronise the Raspberry Pi time through a DCF77 module?

[2020-03-26 15:53] Alphascrypt commented on #157
Hey @FrankX0 ,
the raspberry system time should be syncronised. I would like to use the wordclock without wifi and with wifi.

Auf deutsch isses leichter :P also es sollen beide zeiten genommen werden, einmal vom dcf und vom ntp. Wenn kein wlan verfügbar ist soll die zeit vom dcf genommen werden.

Gruß
Martin